<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/aboutus.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>About Us</title>
</head>
<body>
    <nav class="main-nav">
        <figure class="main-nav__logo">
          <img src="../assets/images/Logo.jpg" alt="logo" />
        </figure>
        <i class="fas fa-bars" id="toggle-bars"></i>
        <ul class="main-nav__list">
          <li>Doctors</li>
          <li>Hospitals</li>
          <li>Treatment</li>
          <li>Other Services</li>
          <li>About</li>
        </ul>
  
        <div class="nav-buttons">
          <button class="login-btn main-nav__btn" >Login/Sign Up</button>
          <button class="dark-btn main-nav__btn" >
            Get a Quote
          </button>
        </div>
      </nav>
      <main>
        <div class="aboutus-hero-section">
            <div class="aboutus-header-text">
              <h1 class="aboutus-header-title">Living healthy matters.</h1>
              <p class="aboutus-header-subtitle">Our specialists aspire to bridge the gap between your benefits plan and the health needs.</p>
            </div>
          </div>

          <section class="description-section">
              <div class="description-text-container">
                  <h2 class="description-title">You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h2>
                <p class="description-text">Deployment long tail menetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
                <p class="description-text">Deployment long tail menetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
                <p class="description-text">Deployment long tail menetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
              </div>
              <div class="signature-figure-container">
              <figure class="signature-figure">
                  <img class="signature-image" src="../assets/images/about-us/signature.png" alt="signature">
              </figure>
            </div>
            <div class="doctor-figure-container">
              <figure class="doctor-figure">
                  <img src="../assets/images/about-us/femaleDoctor.png" alt="doctor image">
              </figure>
            </div>
          </section>
          <section class="checkup-section">
              <div class="checkup-description-container">
                  <h2 class="checkup-description-title">Your wellness builds upon the medical daily.</h2>
                  <p class="checkup-description-text">Find your best self here. Discover new ways to live an inspiring life through natural beauty. nutrition and diet. an acive lifestyle. and better relationships. </p>
              </div>
              <div class="checkup-btn-container">
                  <button class="light-btn" id="checkup-btn">Get a Free Checkup</button>
              </div>
              <div class="ratings-container">
                  <ul class="rating-category">
                      <li class="rating-category-score">12M</li>
                      <li class="rating-category-description">Happy Patients</li>
                  </ul>
                  <ul class="rating-category">
                    <li class="rating-category-score">5K</li>
                    <li class="rating-category-description">Medical Assistants</li>
                </ul>
                <ul class="rating-category">
                    <li class="rating-category-score">9.8</li>
                    <li class="rating-category-description">Alexa Score</li>
                </ul>
                <ul class="rating-category">
                    <li class="rating-category-score">3.2K</li>
                    <li class="rating-category-description">Doctors Available</li>
                </ul>
                <ul class="rating-category">
                    <li class="rating-category-score">45K</li>
                    <li class="rating-category-description">Cure Rate</li>
                </ul>
                <ul class="rating-category">
                    <li class="rating-category-score">75</li>
                    <li class="rating-category-description">Health Points</li>
                </ul>
              </div>
          </section>
      </main>
</body>
</html>