<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/contactus.css" />
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Contact Us</title>
</head>
<body>
    <nav class="main-nav">
        <figure class="main-nav__logo">
          <img src="../assets/images/Logo.jpg" alt="logo" />
        </figure>
        <i class="fas fa-bars" id="toggle-bars"></i>
        <ul class="main-nav__list">
          <li>Doctors</li>
          <li>Hospitals</li>
          <li>Treatment</li>
          <li>Other Services</li>
          <li>About</li>
        </ul>
  
        <div class="nav-buttons">
          <button class="login-btn main-nav__btn">Login/Sign Up</button>
          <button class="dark-btn main-nav__btn" id="get-quote-btn">
            Get a Quote
          </button>
        </div>
      </nav>
      <body>
          <header class="contact-us-header">
              <figure class="contact-us-header-figure">
                  <img class="contact-us-header-img" src="../assets/images/contact-us/contactUs.png" alt="contact us header image">
              </figure>
              <div class="contact-us-header-text">
                  <h1 class="contact-us-header-title">Contact Us</h1>
                  <p class="contact-us-header-subtitle">Home / Contact Us</p>
              </div>
          </header>
      </body>
</body>
</html>