<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <title>Document</title>
  </head>
  <body>
    <!-- button -->
    <button type="button">Button</button>

    <!-- Dark Button -->
    <button class="dark-btn">Dark Button</button>

    <!-- Light Button -->
    <button class="light-btn">Light Button</button>

    <h2>Following are Block level Buttons</h2>

    <!-- Block level Dark Button -->
    <button class="dark-btn-block">Block Level Button Dark</button>

    <button class="light-btn-block">Block Level Button light</button>

    <div>This is a sample div</div>

    <!-- H1 -->
    <h1 class="h1-dark">This is Heading Dark.</h1>

    <h1 class="h1-white">This is Heading light</h1>

    <!-- H3 -->
    <h3>This is Heading 3</h3>

    <!-- logo -->
    <img class="logo" src="../assets/images/Logo.jpg" alt="logo" />

    <input type="text" placeholder="This is input" />

    <!-- Paragraph -->
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eum
      veritatis aliquid delectus repellat nam voluptate atque? Assumenda
      placeat, omnis possimus qui dolorum maxime eveniet libero, exercitationem
      delectus rem dolores!
    </p>

    <section>
      <img src="../assets/images/duke sanson.jpg" alt="doctor image" />
    </section>

    <footer class="dark-footer">
        <div>
        <h1 class="h1-white">This is dark footer for mobile view</h1>    
        </div>
    </footer>

    <footer class="light-footer">
        <div>
        <h1 class="h1-dark">This is light footer for Tablet and Desktop view</h1>    
        </div>
    </footer>
  </body>
</html>
