<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/contactus.css" />
    <link rel="stylesheet" href="../css/doctors.css" />
    <link rel="stylesheet" href="../css/treatment.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/doctor-profile.css" />
    <link rel="stylesheet" href="../css/faq.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>FAQ's</title>
  </head>
  <body>
    <nav class="main-nav">
      <figure class="main-nav__logo">
        <img src="../assets/images/Logo.jpg" alt="logo" />
      </figure>
      <i class="fas fa-bars" id="toggle-bars"></i>
      <ul class="main-nav__list">
        <a href="./doctor.html" class="nav-link"><li>Doctors</li></a>
        <a href="./hospital.html" class="nav-link"><li>Hospitals</li></a>
        <a href="./treatment.html" class="nav-link"><li>Treatment</li></a>
        <a href="./submityourquery.html" class="nav-link"
          ><li>Other Services</li></a
        >
        <a href="./aboutus.html" class="nav-link"><li>About</li></a>
      </ul>

      <div class="nav-buttons">
        <button class="login-btn main-nav__btn">Login/Sign Up</button>
        <button class="dark-btn main-nav__btn" id="get-quote-btn">
          Get a Quote
        </button>
      </div>
    </nav>
    <header class="contact-us-header">
      <figure class="contact-us-header-figure">
        <img
          class="contact-us-header-img"
          src="../assets/images/contact-us/contactUs.png"
          alt="contact us header image"
        />
      </figure>
      <div class="contact-us-header-text">
        <h1 class="contact-us-header-title">FAQ</h1>
        <p class="contact-us-header-subtitle">Home / FAQ</p>
      </div>
    </header>
    <main>
      <section class="doc-info-section">
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">How do I make Payments?</h4>
            </div>
            <!-- <div class="arrow-background">
              <i class="fas fa-chevron-up"></i>
            </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">
                There is not enough money in my Portea Wallet for making a
                payment. What do I do?
              </h4>
            </div>
            <!-- <div class="arrow-background">
            <i class="fas fa-chevron-down"></i>
          </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">
                Can I transfer my balance in Portea Wallet balance to another
                user?
              </h4>
            </div>
            <!-- <div class="arrow-background">
            <i class="fas fa-chevron-down"></i>
          </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">
                Is Portea Money the same as Portea Wallet?
              </h4>
            </div>
            <!-- <div class="arrow-background">
            <i class="fas fa-chevron-down"></i>
          </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">Refund</h4>
            </div>
            <!-- <div class="arrow-background">
            <i class="fas fa-chevron-down"></i>
          </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">What is a Family ID?</h4>
            </div>
            <!-- <div class="arrow-background">
            <i class="fas fa-chevron-down"></i>
          </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header attribute-category">
            <div class="attribute-title-container">
              <h4 class="attribute-title">Who can be added as Family?</h4>
            </div>
            <!-- <div class="arrow-background">
            <i class="fas fa-chevron-down"></i>
          </div> -->
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <p class="attribute-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                vero ex provident dolores quo sunt quis vel aliquam veniam rem
                inventore aperiam eum delectus, odio ullam ab a suscipit sit.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="container__text">
          <h2 class="container-title">Need help?</h2>
          <p class="container-subtitle">
            Just let us know, we will be happy to assist you
          </p>
        </div>
        <button class="light-btn submit-enquiry-btn" id="doc-profile-query-btn">
          Submit your query
        </button>
      </section>
    </main>
    <footer class="footer" id="doc-profile-footer">
      <div class="footer-tabview">
        <figure class="footer-logo">
          <img src="../assets/images/logoFooter.png" alt="" />
        </figure>
        <ul id="doc-profile-footer-list">
          
          <a href="./doctor.html" class="nav-links"><li>Doctor</li></a>
          <a href="./hospital.html" class="nav-links"><li>Hospital</li></a>
          <a href="./treatment.html" class="nav-links"><li>Treatment</li></a>
          <a href="./submityourquery.html" class="nav-links"
            ><li>Other Services</li></a
          >
          <a href="./faq.html" class="nav-links"><li>FAQs</li></a>
        </ul>
      </div>
      <div
        class="footer-tabview copyright-footer"
        id="doc-profile-footer-desktop"
      >
        <div class="follow-us" id="doctor-profile-follow-us">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright" id="doctor-profile-copyright">
          <h6 class="copyright-text">All Rights Reserved.</h6>
          <i class="far fa-copyright copyright-icon"></i>
          <h6 class="copyright-text">tvastra 2020</h6>
        </div>
      </div>
    </footer>

    <script src="../../app.js"></script>
  </body>
</html>
