<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- <link rel="stylesheet" href="../css/doctors.css" /> -->
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/hospitals.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Hospitals</title>
  </head>
  <body>
    <nav class="main-nav">
      <figure class="main-nav__logo">
        <img src="../assets/images/Logo.jpg" alt="logo" />
      </figure>
      <i class="fas fa-bars" id="toggle-bars"></i>
      <ul class="main-nav__list">
        <a href="./doctor.html" class="nav-link"><li>Doctors</li></a>
        <a href="./hospital.html" class="nav-link"><li>Hospitals</li></a>
        <a href="./treatment.html" class="nav-link"><li>Treatment</li></a>
        <a href="./submityourquery.html" class="nav-link"
          ><li>Other Services</li></a
        >
        <a href="./aboutus.html" class="nav-link"><li>About</li></a>
      </ul>

      <div class="nav-buttons">
        <button class="login-btn main-nav__btn">Login/Sign Up</button>
        <button class="dark-btn main-nav__btn" id="get-quote-btn">
          Get a Quote
        </button>
      </div>
    </nav>
    <header class="hospital-tab-header">
      <div class="header-img">
        <h2 class="header-title">
          Hospitals in <span class="header-location-text">Delhi</span>
        </h2>
      </div>
    </header>
    <main>
      <section class="hospitals-container">
        <section class="hospitals-list">
          <h5 class="hospitals-list__title">Home / Hospital List</h5>
          <div class="sort">
            <select class="hospitals-list__sort" name="Sort" id="sort">
              <option value="#">Sort by</option>
            </select>
            <div class="sortby-arrow">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
        </section>
        <div class="tab-container">
          <aside class="filterby">
            <div class="aside-container-filter">Filter By</div>
            <div class="categories">
              <div class="categories-title">
                <p>Location</p>
                <div class="search-icon">
                  <i class="fas fa-search"></i>
                  <div class="search-line"></div>
                </div>
              </div>
              <div class="checkbox-options">
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Dlf Cyber City
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Dwarka
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Lajpat Nagar
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Palam Vihar
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Punjabi Baag
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Pusa Road
                </label>
              </div>
              <div class="show-more">
                <i class="fas fa-plus show-more__icon"></i>
                <p class="show-more__text">Show More</p>
              </div>
              <hr class="category-end-line" />

              <div class="categories-title">
                <p>Department</p>
                <div class="search-icon">
                  <i class="fas fa-search"></i>
                  <div class="search-line"></div>
                </div>
              </div>
              <div class="checkbox-options">
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Department One
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Department Two
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Department
                  Three
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Department Four
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Department Five
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Department Six
                </label>
              </div>
              <div class="show-more">
                <i class="fas fa-plus show-more__icon"></i>
                <p class="show-more__text">Show More</p>
              </div>
              <hr class="category-end-line" />

              <div class="categories-title">
                <p>Treatment</p>
                <div class="search-icon">
                  <i class="fas fa-search"></i>
                  <div class="search-line"></div>
                </div>
              </div>
              <div class="checkbox-options">
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Multi Organ
                  Transplant
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Orthopedic
                  Surgery
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Infertility
                  Treatment
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Dentistry
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Cardiology
                </label>
                <label class="checkbox-option">
                  <input type="checkbox" class="checkbox-info" />Cancer
                </label>
              </div>
              <div class="show-more">
                <i class="fas fa-plus show-more__icon"></i>
                <p class="show-more__text">Show More</p>
              </div>
              <hr class="category-end-line" />
            </div>
          </aside>
          <section class="hospitals-section">
            <div class="hospital-details">
              <div class="name-container">
                <span class="horizontal-line"></span>
                <h4 class="hospital-name">Apollo Hospital</h4>
              </div>

              <div class="info-container">
                <article class="hospital-info info-1">
                  <i class="fas fa-map-marker-alt"></i>
                  <div>Delhi Mathura Road, Sarita Vihar, Delhi 110076</div>
                </article>
                <article class="hospital-info info-2">
                  <i class="fas fa-bed"></i>
                  <div>100 Beds</div>
                </article>
                <article class="hospital-info info-3">
                  <i class="fas fa-stethoscope"></i>
                  <div>Famous Treatments</div>
                </article>
                <div class="treatments-description-box">
                  <p class="treatments-text">Multi Organ Transplant</p>
                  <p class="treatments-text">Orthopedic Surgery</p>
                  <p class="treatments-text">Infertility Treatment</p>
                  <p class="treatments-text">Dentistry</p>
                  <p class="treatments-text">Cardiology</p>
                  <p class="treatments-text">Cancer</p>
                  <p class="treatments-text more-treatment-option">+40 more</p>
                </div>
                <button class="dark-btn call-btn" type="button">
                  Call Now
                </button>
              </div>
              <figure class="hospital-figure">
                <img
                  src="../assets/images/hospitals/indraprastha-apollo-hospital.jpg"
                  alt="Hospital image"
                  class="hospital-image"
                />
              </figure>
            </div>

            <div class="hospital-details">
                <div class="name-container">
                  <span class="horizontal-line"></span>
                  <h4 class="hospital-name">Fortis Hospital</h4>
                </div>
  
                <div class="info-container">
                  <article class="doc-info hospital-info info-1">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>Delhi Mathura Road, Sarita Vihar, Delhi 110076</div>
                  </article>
                  <article class="hospital-info info-2">
                    <i class="fas fa-bed"></i>
                    <div>100 Beds</div>
                  </article>
                  <article class="hospital-info info-3">
                    <i class="fas fa-stethoscope"></i>
                    <div>Famous Treatments</div>
                  </article>
                  <div class="treatments-description-box">
                    <p class="treatments-text">Multi Organ Transplant</p>
                    <p class="treatments-text">Orthopedic Surgery</p>
                    <p class="treatments-text">Infertility Treatment</p>
                    <p class="treatments-text">Dentistry</p>
                    <p class="treatments-text">Cardiology</p>
                    <p class="treatments-text">Cancer</p>
                    <p class="treatments-text more-treatment-option">+40 more</p>
                  </div>
                  <button class="dark-btn call-btn" type="button">
                    Call Now
                  </button>
                </div>
                <figure class="hospital-figure">
                  <img
                    src="../assets/images/hospitals/fortis-hospital.jpg"
                    alt="Hospital image"
                    class="hospital-image"
                  />
                </figure>
              </div>

              <div class="hospital-details">
                <div class="name-container">
                  <span class="horizontal-line"></span>
                  <h4 class="hospital-name">Rockland Hospital</h4>
                </div>
  
                <div class="info-container">
                  <article class="doc-info hospital-info info-1">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>Delhi Mathura Road, Sarita Vihar, Delhi 110076</div>
                  </article>
                  <article class="hospital-info info-2">
                    <i class="fas fa-bed"></i>
                    <div>100 Beds</div>
                  </article>
                  <article class="hospital-info info-3">
                    <i class="fas fa-stethoscope"></i>
                    <div>Famous Treatments</div>
                  </article>
                  <div class="treatments-description-box">
                    <p class="treatments-text">Multi Organ Transplant</p>
                    <p class="treatments-text">Orthopedic Surgery</p>
                    <p class="treatments-text">Infertility Treatment</p>
                    <p class="treatments-text">Dentistry</p>
                    <p class="treatments-text">Cardiology</p>
                    <p class="treatments-text">Cancer</p>
                    <p class="treatments-text more-treatment-option">+40 more</p>
                  </div>
                  <button class="dark-btn call-btn" type="button">
                    Call Now
                  </button>
                </div>
                <figure class="hospital-figure">
                  <img
                    src="../assets/images/hospitals/rockland-hospital.jpg"
                    alt="Hospital image"
                    class="hospital-image"
                  />
                </figure>
              </div>

              <div class="hospital-details">
                <div class="name-container">
                  <span class="horizontal-line"></span>
                  <h4 class="hospital-name">Primus Super Speciality Hospital</h4>
                </div>
  
                <div class="info-container">
                  <article class="doc-info hospital-info info-1">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>Delhi Mathura Road, Sarita Vihar, Delhi 110076</div>
                  </article>
                  <article class="hospital-info info-2">
                    <i class="fas fa-bed"></i>
                    <div>100 Beds</div>
                  </article>
                  <article class="hospital-info info-3">
                    <i class="fas fa-stethoscope"></i>
                    <div>Famous Treatments</div>
                  </article>
                  <div class="treatments-description-box">
                    <p class="treatments-text">Multi Organ Transplant</p>
                    <p class="treatments-text">Orthopedic Surgery</p>
                    <p class="treatments-text">Infertility Treatment</p>
                    <p class="treatments-text">Dentistry</p>
                    <p class="treatments-text">Cardiology</p>
                    <p class="treatments-text">Cancer</p>
                    <p class="treatments-text more-treatment-option">+40 more</p>
                  </div>
                  <button class="dark-btn call-btn" type="button">
                    Call Now
                  </button>
                </div>
                <figure class="hospital-figure">
                  <img
                    src="../assets/images/hospitals/primus_super_speciality_hospital.jpg"
                    alt="Hospital image"
                    class="hospital-image"
                  />
                </figure>
              </div>
          </section>
        </div>
      </section>
      <section class="container doc-enquiry">
        <div class="container__text">
          <h2 class="container-title">Need help?</h2>
          <p class="container-subtitle">
            Just let us know, we wil happy to assist you
          </p>
        </div>
        <button class="light-btn submit-enquiry-btn">
          Submit your enquiry
        </button>
      </section>
      <footer class="footer" id="hospital-footer">
        <div class="footer-tabview">
          <figure class="footer-logo">
            <img src="../assets/images/logoFooter.png" alt="" />
          </figure>
          <h2 class="follow-us-text">TVASTRA</h2>
          <ul id="footer-services">
            <a href="./doctor.html" class="nav-links"><li>Doctor</li></a>
          <a href="./hospital.html" class="nav-links"><li>Hospital</li></a>
          <a href="./treatment.html" class="nav-links"><li>Treatment</li></a>
          <a href="./submityourquery.html" class="nav-links"
            ><li>Other Services</li></a
          >
          <a href="./faq.html" class="nav-links"><li>FAQs</li></a>
          </ul>
        </div>
        <div class="footer-tabview copyright-footer">
          <div class="follow-us">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <h2 class="follow-us-text">FOLLOW US</h2>
          <ul id="social-media">
            <li>Facebook</li>
            <li>Pinterst</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Instagram</li>
          </ul>
          <div class="copyright">
            <h6 class="copyright-text">All Rights Reserved.</h6>
            <i class="far fa-copyright copyright-icon"></i>
            <h6 class="copyright-text">tvastra 2018</h6>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
