<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="main-nav">
      <figure class="main-nav__logo">
        <img src="../assets/images/Logo.jpg" alt="logo" />
      </figure>
      <i class="fas fa-bars"></i>
    </nav>
    <main>
      <section class="hero-section">
        <h2 class="hero-section__title">Find Affordabble Healthcare</h2>
        <p class="hero-section__subtitle">
          Join the thousands of others who have exercised their rights to
          quality healthcare at a price you can afford
        </p>
        <form class="hero-section__form" action="#">
          <!-- <div class="hero-section__inputs"> -->
            <div class="hero-section__location gps">
              <i class="fas fa-map-marker-alt location-icon"></i>
              <input class="location-input search-location" type="text" placeholder="Ahemdabad" />
              <figure class="location-gps">
                <img src="../assets/images/location_gps.png" />
              </figure>
            </div>
            <div class="hero-section__location assistance">
              <input
                class="location-input"
                type="text"
                placeholder="Search for Doctor, hospitals and treatments"
              />
            </div>
          <!-- </div> -->
          <button class="dark-btn hero-section__btn">Search</button>
        </form>
      </section>
      <section class="how-it-works">
        <h2 class="hero-section__title">How it works</h2>
        <p class="hero-section__subtitle">
          Various facilities are provided here. But there is a protocol which
          needs to be followed so that you get the service at its best.
        </p>
        <div class="how-it-works__services">
          <div class="how-it-works__service fix-consultation-block">
            <span class="service-number servicenum-01">01</span>
            <span class="service-tag service-01">Fix Consultation</span>
          </div>
          <div class="service-imageBlock">
            <figure class="service-image">
              <img src="../assets/images/clinicimg1.png" alt="" />
            </figure>
            <h4 class="service-image__title">Fix Consultation</h4>
            <p class="hero-section__subtitle">
              This depicts that the user will have to fix appointment first when
              it selects a particular doctor.
            </p>
          </div>
          <div class="how-it-works__service">
            <span class="service-number servicenum-02">02</span>
            <span class="service-tag service-02">Upload Medical Records</span>
          </div>
          <div class="how-it-works__service">
            <span class="service-number servicenum-03">03</span>
            <span class="service-tag service-03">Consult with doctor</span>
          </div>
          <div class="how-it-works__service">
            <span class="service-number servicenum-04">04</span>
            <span class="service-tag service-04">Fix Surgery</span>
          </div>
          <div class="how-it-works__service">
            <span class="service-number servicenum-05">05</span>
            <span class="service-tag service-05">Hospital sent estimates</span>
          </div>
          <div class="how-it-works__service">
            <span class="service-number servicenum-06">06</span>
            <span class="service-tag service-06">Payment</span>
          </div>
          <div class="how-it-works__service">
            <span class="service-number servicenum-07">07</span>
            <span class="service-tag service-07">Surgery Completed</span>
          </div>
        </div>
      </section>
      <section class="doctors">
        <h2 class="hero-section__title doctors-title">
          World Class Expert Doctors!
        </h2>
        <p class="hero-section__subtitle doctors-subtitle">
          The university of Texas Southeastern Medical center has been a long
          world-renowned research hospital. But untill the 80's, you couldn't go
          there. Now, with the addition of Aston Center and Zale Lipshy
          Hospital. UT Southeastern is also a mecca for patients.
        </p>
        <article class="doctors-block">
          <figure class="doctorImage-section">
            <figure class="doctor-image">
              <img src="../assets/images/doctor1image--002.jpg" alt="" />
            </figure>
            <div class="doctor-name">
              <span class="horizontal-line"></span>
              <figcaption class="name">Duke Sanson</figcaption>
            </div>
            <div class="doctors-details">
              <figcaption class="doctor-detail">Neuro Surgeon</figcaption>
              <figcaption class="doctor-detail">
                Chain Department of Neurological Surgery
              </figcaption>
              <figcaption class="doctor-detail">Australia</figcaption>
            </div>
          </figure>
          <figure class="doctorImage-section">
            <figure class="doctor-image">
              <img src="../assets/images/doctor3image--004.jpg" alt="" />
            </figure>
            <div class="doctor-name">
              <span class="horizontal-line"></span>
              <figcaption class="name">Georgia Peter</figcaption>
            </div>
            <div class="doctors-details">
              <figcaption class="doctor-detail">
                Breast Cancer Surgeon
              </figcaption>
              <figcaption class="doctor-detail">
                Director. UT. Southwest
              </figcaption>
              <figcaption class="doctor-detail">London</figcaption>
            </div>
          </figure>

          <figure class="doctorImage-section">
            <figure class="doctor-image">
              <img src="../assets/images/doctor4image--005.jpg" alt="" />
            </figure>
            <div class="doctor-name">
              <span class="horizontal-line"></span>
              <figcaption class="name">Charlie Moon</figcaption>
            </div>
            <div class="doctors-details">
              <figcaption class="doctor-detail">Cardiac Surgeon</figcaption>
              <figcaption class="doctor-detail">
                MBBS. MD. FRCP. MRCP. Fellowship
              </figcaption>
              <figcaption class="doctor-detail">New Delhi, India</figcaption>
            </div>
          </figure>
          <figure class="doctorImage-section">
            <figure class="doctor-image">
              <img src="../assets/images/doctor2image--003.jpg" alt="" />
            </figure>
            <div class="doctor-name">
              <span class="horizontal-line"></span>
              <figcaption class="name">Rose Moon</figcaption>
            </div>
            <div class="doctors-details">
              <figcaption class="doctor-detail">Plastic Surgeon</figcaption>
              <figcaption class="doctor-detail">
                Department of Plastic and Reconstructive Surgery
              </figcaption>
              <figcaption class="doctor-detail">Dubai</figcaption>
            </div>
          </figure>
        </article>
      </section>

      <section class="treatments">
        <h2 class="hero-section__title">Featured Medical Treatment</h2>
        <p class="hero-section__subtitle">
          Join the thousands of others who have exercised their rights to
          quality healthcare at a price you can afford
        </p>
        <article class="treatments-images">
          <figure class="treatments__image-block">
            <div class="backdrop"></div>
            <img
              class="treatment-image"
              src="../assets/images/dentinstimage--009.jpg"
              alt="dentistry"
            />
            <div class="treatment_image-text">
              <h6 class="treatment_title">Dentistry</h6>
              <p class="treatment_subtitle">50+ Specialists</p>
            </div>
          </figure>
          <figure class="treatments__image-block">
            <div class="backdrop"></div>
            <img
              class="treatment-image"
              src="../assets/images/cancer_image.jpg"
              alt="cancer"
            />
            <div class="treatment_image-text">
              <h6 class="treatment_title">Cancer</h6>
              <p class="treatment_subtitle">50+ Specialists</p>
            </div>
          </figure>
          <figure class="treatments__image-block">
            <div class="backdrop"></div>
            <img
              class="treatment-image"
              src="../assets/images/cardiological_image.jpg"
              alt="cardiological treatment"
            />
            <div class="treatment_image-text">
              <h6 class="treatment_title">Cardiological Treatment</h6>
              <p class="treatment_subtitle">50+ Specialists</p>
            </div>
          </figure>
          <figure class="treatments__image-block">
            <div class="backdrop"></div>
            <img
              class="treatment-image"
              src="../assets/images/multiorgan_image.jpg"
              alt="Multi Organ Transplant"
            />
            <div class="treatment_image-text">
              <h6 class="treatment_title">Multi Organ Transplant</h6>
              <p class="treatment_subtitle">50+ Specialists</p>
            </div>
          </figure>
          <figure class="treatments__image-block">
            <div class="backdrop"></div>
            <img
              class="treatment-image"
              src="../assets/images/orthopedics_image.jpg"
              alt="Orthopedics Surgery"
            />
            <div class="treatment_image-text">
              <h6 class="treatment_title">Orthopedics Surgery</h6>
              <p class="treatment_subtitle">50+ Specialists</p>
            </div>
          </figure>
          <figure class="treatments__image-block">
            <div class="backdrop"></div>
            <img
              class="treatment-image"
              src="../assets/images/infertility_image.jpg"
              alt="Infertility Treatment"
            />
            <div class="treatment_image-text">
              <h6 class="treatment_title">Infertility Treatment</h6>
              <p class="treatment_subtitle">50+ Specialists</p>
            </div>
          </figure>
        </article>
      </section>
      <section class="exclusive-services">
        <h2 class="hero-section__title">Exclusive services</h2>
        <p class="hero-section__subtitle">
          We want you to be comfortable and thus apart from threating you
          illness, we provide you with other services that you can see
        </p>
        <div class="exclusive-services__icons">
          <figure class="exclusive-services__icon">
            <figure class="icon-figure">
              <img src="../assets/images/travel.png" alt="travel" />
            </figure>
            <h6>TRAVEL</h6>
          </figure>

          <figure class="exclusive-services__icon">
            <figure class="icon-figure">
              <img src="../assets/images/food.png" alt="food" />
            </figure>
            <h6>FOOD</h6>
          </figure>

          <figure class="exclusive-services__icon">
            <figure class="icon-figure">
              <img src="../assets/images/accomodation.png" alt="accomodation" />
            </figure>
            <h6>ACCOMODATION</h6>
          </figure>

          <figure class="exclusive-services__icon">
            <figure class="icon-figure">
              <img src="../assets/images/labs.png" alt="labs" />
            </figure>
            <h6>LABS</h6>
          </figure>

          <figure class="exclusive-services__icon">
            <figure class="icon-figure">
              <img src="../assets/images/reports.png" alt="reports" />
            </figure>
            <h6>REPORTS</h6>
          </figure>

          <figure class="exclusive-services__icon">
            <figure class="icon-figure">
              <img src="../assets/images/ambulanceIcons-06.png" alt="ambulance"/>
            </figure>
            <h6>AMBULANCE</h6>
          </figure>
        </div>
      </section>

      <section class="container">
        <h2 class="container-title">Need help?</h2>
        <p class="container-subtitle">
          Just let us know, we wil happy to assist you
        </p>
        <button class="light-btn">Submit your enquiry</button>
      </section>
      <footer class="footer">
        <div class="footer-tabview">
          <figure class="footer-logo">
            <img src="../assets/images/logoFooter.png" alt="" />
          </figure>
          <ul>
            <li>Doctor</li>
            <li>Hospital</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>FAQs</li>
          </ul>
        </div>
        <div class="footer-tabview">
          <div class="follow-us">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <div class="copyright">
            <h5 class="copyright-text">All Rights Reserved.</h5>
            <i class="far fa-copyright copyright-text"></i>
            <h5 class="copyright-text">tvastra 2018</h5>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
