<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/treatment.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Treatment</title>
  </head>
  <body>
    <nav class="main-nav">
      <figure class="main-nav__logo">
        <img src="../assets/images/Logo.jpg" alt="logo" />
      </figure>
      <i class="fas fa-bars" id="toggle-bars"></i>
      <ul class="main-nav__list">
        <a href="./doctor.html" class="nav-link"><li>Doctors</li></a>
        <a href="./hospital.html" class="nav-link"><li>Hospitals</li></a>
        <a href="./treatment.html" class="nav-link"><li>Treatment</li></a>
        <a href="./submityourquery.html" class="nav-link"
          ><li>Other Services</li></a
        >
        <a href="./aboutus.html" class="nav-link"><li>About</li></a>
      </ul>

      <div class="nav-buttons">
        <button class="login-btn main-nav__btn" id="treatment-page-nav-btn">Login/Sign Up</button>
        <button class="dark-btn main-nav__btn" id="treatment-page-getquote-btn">
          Get a Quote
        </button>
      </div>
    </nav>
    <main>
      <div class="dentist-hero-section">
        <div class="dentist-header-text">
          <h1 class="dentist-header-title">Dentistry</h1>
          <p class="dentist-header-subtitle">Home / Dentistry</p>
        </div>
      </div>
      <div class="desktop-view-vaccination-grid">
        <section class="vaccination-section">
          <h2 class="vaccination-section-title">Vaccination</h2>
          <div class="dentist-department">
            <div class="dentist-treatment-figure-container">
              <figure class="dentist-treatment-figure">
                <img
                  class="dentist-treatment-image"
                  src="../assets/images/dentistry/dentist-treatment-image.jpg"
                  alt="dentist-treatment"
                />
              </figure>
            </div>
            <div class="dentist-treatment-info-container">
              <h4 class="dentist-treatment-info-title">
                About Dentist Department
              </h4>
              <p class="dentist-treatment-info-description">
                The vaccination of dentists against various vaccine-preventable
                infections is the most important measure of primary prevention
                against such diseases which would otherwise prove fatal for both
                the dentists and their patients
              </p>
              <div class="dentist-treatment-info-list">
                <ul>
                  <li class="dentist-treatment-info-list__item">
                    <div class="list-bullent-point"></div>
                    CF-related diabetes (monthly)
                  </li>
                  <li class="dentist-treatment-info-list__item">
                    <div class="list-bullent-point"></div>
                    Gastrointestinal (monthly)
                  </li>
                  <li class="dentist-treatment-info-list__item">
                    <div class="list-bullent-point"></div>
                    CF-related liver disease (monthly)
                  </li>
                  <li class="dentist-treatment-info-list__item">
                    <div class="list-bullent-point"></div>
                    Sweat testing (three times per month)
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="visitation-container">
            <div class="visitation-categories">
              <div class="visitation-icon-background">
                <i class="fas fa-stethoscope"></i>
              </div>
              <h5 class="visitation-info-title">Central Nervous System</h5>
              <p class="visitation-info-description">
                Open visitation with only two visitors in a room at any time. No
                one under 12 years of age may.
              </p>
            </div>
            <div class="visitation-categories">
              <div class="visitation-icon-background">
                <i class="fas fa-tablets"></i>
              </div>
              <h5 class="visitation-info-title">Allergic Disorders</h5>
              <p class="visitation-info-description">
                Open visitation with only two visitors in a room at any time. No
                one under 12 years of age may.
              </p>
            </div>
            <div class="visitation-categories">
              <div class="visitation-icon-background">
                <i class="fas fa-heartbeat"></i>
              </div>
              <h5 class="visitation-info-title">Neoplastic Disorders</h5>
              <p class="visitation-info-description">
                Open visitation with only two visitors in a room at any time. No
                one under 12 years of age may.
              </p>
            </div>
          </div>
          <div class="service-schedule-main-container">
            <div class="service-cum-schedule service-container">
            <div class="service-title-container">
              <span class="horizontal-line"></span>
              <h5 class="service-title">Service Details</h5>
            </div>
            <div class="service-info-main-container">
              <div class="service-info-container">
                <p class="service-info-description service-category">Price</p>
                <p class="service-info-description service-category-info">
                  from $340
                </p>
              </div>
              <div class="service-info-container">
                <p class="service-info-description service-category">
                  Duration
                </p>
                <p class="service-info-description service-category-info">
                  10 Minutes
                </p>
              </div>
              <div class="service-info-container">
                <p class="service-info-description service-category">Office</p>
                <p class="service-info-description service-category-info">
                  #46
                </p>
              </div>
              <div class="service-info-container">
                <p class="service-info-description service-category">Doctor</p>
                <p class="service-info-description service-category-info">
                  Dr. Elizabeth Beard
                </p>
              </div>
              <div class="service-info-container">
                <p class="service-info-description service-category">
                  Categories
                </p>
                <p class="service-info-description service-category-info">
                  Family Medicine
                </p>
              </div>
            </div>
          </div>
          <div class="service-cum-schedule schedule-container">
            <div class="service-title-container">
              <span class="horizontal-line"></span>
              <h5 class="service-title">Schedule</h5>
            </div>
            <div class="service-info-main-container">
              <div class="service-info-container">
                <p class="service-info-description service-category">Tuesday</p>
                <p class="service-info-description service-category-info">
                  10:00am - 01:00pm
                </p>
              </div>
              <div class="service-info-container">
                <p class="service-info-description service-category">Friday</p>
                <p class="service-info-description service-category-info">
                  07:00am - 10:00pm
                </p>
              </div>
            </div>
          </div>
        </div>
        </section>
          
      </div>
      <section class="more-services">
        <div class="more-services-header">
          <h2 class="more-services-title">More Services</h2>
          <div class="toggle-container">
            <div class="toggle-background left-togglebackground" onclick="moreServicesCarousel('more-services-carousel-1')">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="toggle-background right-togglebackground" onclick="moreServicesCarousel('more-services-carousel-2')">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <article class="treatment-figure-container" id="more-services-carousel-1">
          <div class="treatmentImage-section">
            <figure class="treatment-fig">
              <img
                class="treatment-img"
                src="../assets/images/orthopedics_image.jpg"
                alt="Orthopedic Surgery"
              />
            </figure>
            <div class="treatment-name-container">
              <span class="horizontal-line"></span>
              <figcaption class="treatment-name">Orthopedic Surgery</figcaption>
            </div>
          </div>
          <div class="treatmentImage-section cancer-info-container">
            <figure class="treatment-fig">
              <img
                class="treatment-img"
                src="../assets/images/cancer_image.jpg"
                alt="cancer"
              />
            </figure>
            <div class="treatment-name-container">
              <span class="horizontal-line"></span>
              <figcaption class="treatment-name">Cancer</figcaption>
            </div>
          </div>
          <div class="treatmentImage-section">
            <figure class="treatment-fig">
              <img
                class="treatment-img"
                src="../assets/images/cardiological_image.jpg"
                alt="cardiology"
              />
            </figure>
            <div class="treatment-name-container">
              <span class="horizontal-line"></span>
              <figcaption class="treatment-name">Cardiology</figcaption>
            </div>
          </div>
        </article>
        <article class="hide-treatment-figure-container" id="more-services-carousel-2">
          
          <div class="treatmentImage-section">
            <figure class="treatment-fig">
              <img
                class="treatment-img"
                src="../assets/images/cancer_image.jpg"
                alt="cancer"
              />
            </figure>
            <div class="treatment-name-container">
              <span class="horizontal-line"></span>
              <figcaption class="treatment-name">Cancer</figcaption>
            </div>
          </div>
          <div class="treatmentImage-section cancer-info-container">
            <figure class="treatment-fig">
              <img
                class="treatment-img"
                src="../assets/images/cardiological_image.jpg"
                alt="cardiology"
              />
            </figure>
            <div class="treatment-name-container">
              <span class="horizontal-line"></span>
              <figcaption class="treatment-name">Cardiology</figcaption>
            </div>
          </div>
          <div class="treatmentImage-section">
            <figure class="treatment-fig">
              <img
                class="treatment-img"
                src="../assets/images/orthopedics_image.jpg"
                alt="Orthopedic Surgery"
              />
            </figure>
            <div class="treatment-name-container">
              <span class="horizontal-line"></span>
              <figcaption class="treatment-name">Orthopedic Surgery</figcaption>
            </div>
          </div>
         
        </article>
      </section>
    </main>
    <footer class="footer" id="treatment-footer">
      <div class="footer-tabview">
        <figure class="footer-logo">
          <img src="../assets/images/logoFooter.png" alt="" />
        </figure>
        <ul id="treatment-footer-list">
          <a href="./doctor.html" class="nav-links"><li>Doctor</li></a>
          <a href="./hospital.html" class="nav-links"><li>Hospital</li></a>
          <a href="./treatment.html" class="nav-links"><li>Treatment</li></a>
          <a href="./submityourquery.html" class="nav-links"
            ><li>Other Services</li></a
          >
          <a href="./faq.html" class="nav-links"><li>FAQs</li></a>
        </ul>
      </div>
      <div
        class="footer-tabview copyright-footer"
        id="treatment-footer-desktop"
      >
        <div class="follow-us" id="treatment-follow-us">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright" id="treatment-copyright">
          <h6 class="copyright-text">All Rights Reserved.</h6>
          <i class="far fa-copyright copyright-icon"></i>
          <h6 class="copyright-text">tvastra 2020</h6>
        </div>
      </div>
    </footer>
    <script src="../../app.js"></script>
  </body>
</html>
