<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/container.css" />
    <link rel="stylesheet" href="../css/contactus.css" />
    <link rel="stylesheet" href="../css/doctors.css" />
    <link rel="stylesheet" href="../css/treatment.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/doctor-profile.css" />
    <link rel="stylesheet" href="../css/faq.css" />
    <link rel="stylesheet" href="../css/tvastra-plus.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Tvastra Plus</title>
  </head>
  <body>
    <nav class="main-nav">
      <figure class="main-nav__logo">
        <img src="../assets/images/Logo.jpg" alt="logo" />
      </figure>
      <i class="fas fa-bars" id="toggle-bars"></i>
      <ul class="main-nav__list">
        <a href="./doctor.html" class="nav-link"><li>Doctors</li></a>
        <a href="./hospital.html" class="nav-link"><li>Hospitals</li></a>
        <a href="./treatment.html" class="nav-link"><li>Treatment</li></a>
        <a href="./submityourquery.html" class="nav-link"
          ><li>Other Services</li></a
        >
        <a href="./aboutus.html" class="nav-link"><li>About</li></a>
      </ul>

      <div class="nav-buttons">
        <button class="login-btn main-nav__btn">Login Out</button>
        <button class="dark-btn main-nav__btn" id="get-quote-btn">
          Get a Quote
        </button>
      </div>
    </nav>

    <header class="tvastra-plus-hero-section">
      <figure class="hero-section-cover-figure">
        <img
          class="hero-section-cover-image"
          src="../assets/images/tvastra-plus/hero-section-coverpage.jpg"
          alt=""
        />
      </figure>
      <div class="hero-section-text-container">
        <button class="light-btn tvastra-plus-hero-section-btn">PLUS</button>
        <h2 class="hero-section-title">
          Healthcare plans for you and your family.
        </h2>
        <p class="hero-section-subtitle">
          Become a Tvastra Plus Member and save 60% off on your yearly health
          expenses
        </p>
      </div>
    </header>

    <section class="plans-section">
      <div class="plans-main-container">
        <div class="plans-section-heading">
          <h2 class="plans-section-heading-title">
            Select a Tvastra Plus healthcare plan
          </h2>
          <p class="plans-section-heading-subtitle">
            All plus plans are for 4 adults and 2 children
          </p>
        </div>
        <div class="all-plans-info">
          <div class="plan-container basic-plan">
            <div class="plan-sub-container">
              <h4 class="plan-container-title">Basic Plan</h4>
              <div
                class="plan-container-descrption-box basic-plan-description-box"
              >
                <p class="plan-container-descrption">
                  Unlimited Consultation with any speciality
                </p>
                <p class="plan-container-descrption">
                  20% Off on prescription medicines
                </p>
                <p class="plan-container-descrption">
                  20% off on tests & checkups
                </p>
              </div>
              <div class="pricing-details-main-container">
                <div class="pricing-details-container">
                  <i class="fas fa-rupee-sign" id="rupee-sign"></i>
                  <h3 class="price-info-text">2,999</h3>
                  <h6>/ year</h6>
                </div>
                <h6 class="plan-details-text">View Plan Details</h6>
                <button
                  class="light-btn basic-plan-buy-btn tvastra-buy-plan-btn"
                >
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
          <div class="plan-container advanced-plan">
            <div class="popular-plan-container">Popular</div>
            <div class="plan-sub-container">
              <h4 class="plan-container-title advanced-plan-title">
                Advanced Plan
              </h4>
              <div
                class="
                  plan-container-descrption-box
                  advanced-plan-description-box
                "
              >
                <p class="plan-container-descrption">
                  Unlimited Consultation with any speciality
                </p>
                <p class="plan-container-descrption">
                  20% Off on prescription medicines
                </p>
                <p class="plan-container-descrption">
                  20% off on tests & checkups
                </p>
                <p class="plan-container-descrption">
                  10 Free In-Clinic consultations
                </p>
              </div>
              <div
                class="
                  pricing-details-main-container
                  advanced-plan-pricing-main-container
                "
              >
                <div class="pricing-details-container">
                  <i class="fas fa-rupee-sign" id="rupee-sign"></i>
                  <h3 class="price-info-text">3,999</h3>
                  <h6>/ year</h6>
                </div>
                <h6 class="plan-details-text">View Plan Details</h6>
                <button class="light-btn tvastra-buy-plan-btn">Buy Plan</button>
              </div>
            </div>
          </div>
          <div class="plan-container">
            <div class="plan-sub-container">
              <h4 class="plan-container-title comprehensive-plan-title">
                Comprehensive Plan
              </h4>
              <div
                class="
                  plan-container-descrption-box
                  comprehensive-plan-description-box
                "
              >
                <p class="plan-container-descrption">
                  Unlimited Consultation with any speciality
                </p>
                <p class="plan-container-descrption">
                  20% Off on prescription medicines
                </p>
                <p class="plan-container-descrption">
                  20% off on tests & checkups
                </p>
                <p class="plan-container-descrption">
                  10 Free In-Clinic consultations
                </p>
                <p class="plan-container-descrption">
                  2 Master health checkups
                </p>
              </div>
              <div class="pricing-details-main-container">
                <div class="pricing-details-container">
                  <i class="fas fa-rupee-sign" id="rupee-sign"></i>
                  <h3 class="price-info-text">5,999</h3>
                  <h6>/ year</h6>
                </div>
                <h6 class="plan-details-text">View Plan Details</h6>
                <button class="light-btn tvastra-buy-plan-btn">Buy Plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ratings-section">
      <h2 class="ratings-section-title">
        Trusted by 2 Crore+ users every month
      </h2>
      <p class="ratings-section-description">
        Tvastra is the leading healthcare technology company in India. We began
        in 2009 and today we help 2 crore customers every month.
      </p>
      <div class="star-rating-container">
        <div class="star-rating-subcontainer">
          <div class="star-rating-title-container">
            <h1 class="star-rating-title">4.5</h1>
            <div class="stars-container">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <p class="star-rating-container-description">1000+ Reviews</p>
            </div>
          </div>

          <div class="rating-bar-container">
            <div class="rating-bar-subcontainer">
              <span class="rating-bar-number">5</span>
              <div class="gray-bar">
                <div class="blue-bar blue-bar-rating-5"></div>
              </div>
            </div>
            <div class="rating-bar-subcontainer">
              <span class="rating-bar-number">4</span>
              <div class="gray-bar">
                <div class="blue-bar blue-bar-rating-4"></div>
              </div>
            </div>
            <div class="rating-bar-subcontainer">
              <span class="rating-bar-number">3</span>
              <div class="gray-bar">
                <div class="blue-bar blue-bar-rating-3"></div>
              </div>
            </div>
            <div class="rating-bar-subcontainer">
              <span class="rating-bar-number">2</span>
              <div class="gray-bar">
                <div class="blue-bar blue-bar-rating-2"></div>
              </div>
            </div>
            <div class="rating-bar-subcontainer">
              <span class="rating-bar-number rating-number-1">1</span>
              <div class="gray-bar gray-bar-1">
                <div class="blue-bar blue-bar-rating-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="rating-attribute-main-container">
          <div class="attribute-item-container attribute-1">
            <i class="fas fa-users"></i>
            <h3 class="attribute-item-title">2 Crore+</h3>
            <p class="attribute-item-subtitle">Monthly Customers</p>
          </div>
          <div class="attribute-item-container attribute-2">
            <i class="fas fa-user-md"></i>
            <h3 class="attribute-item-title">100,000+</h3>
            <p class="attribute-item-subtitle">Verified Doctors</p>
          </div>
          <div class="attribute-item-container attribute-3">
            <i class="fas fa-pills"></i>
            <h3 class="attribute-item-title">10 Lakh+</h3>
            <p class="attribute-item-subtitle">Medicine Orders Delivered</p>
          </div>
          <div class="attribute-item-container attribute-4">
            <i class="fas fa-calendar-check"></i>
            <h3 class="attribute-item-title">5 Crore+</h3>
            <p class="attribute-item-subtitle">Doctor Appointments</p>
          </div>
        </div>
      </div>
    </section>
    <section class="plus-membership-section">
      <div class="plus-membership-title-container">
        <p class="plus-membership-title">Benefits of Plus Membership</p>
        <div class="plus-membership-title-bottom-bar"></div>
      </div>
      <div class="zero-fees-section">
        <div class="zero-fees-info-container">
          <h2 class="zero-fees-title">Zero fees for in-clinic consultation</h2>
          <div class="zero-fees-description-container">
            <i class="fas fa-check-circle"></i>
            <p class="zero-fees-description-text">
              Consult with 30000+ specialist doctors at top clinics & hospitals
              in the PLUS network at Rs.0 consultation fees*
            </p>
          </div>
          <div class="zero-fees-description-container">
            <i class="fas fa-check-circle"></i>
            <p class="zero-fees-description-text">
              Upto 10 in-clinic consultations can be used by any family member
              over 12 month period.
            </p>
          </div>
        </div>
        <div class="hospital-logo-main-container">
          <h4 class="hospital-logo-title">Top Hospitals Onboarded</h4>
          <div class="hospital-logo-container">
            <div
              class="
                hospital-logo-figure-container
                sakra-hospital-figure-container
              "
            >
              <figure class="sakra-hospital-figure hospital-logo-figure">
                <img
                  class="hospital-logo-image"
                  src="../assets/images/tvastra-plus/hospitals-onboard/sakra.svg"
                  alt=""
                />
              </figure>
            </div>

            <div
              class="
                hospital-logo-figure-container
                psri-hospital-figure-container
              "
            >
              <figure class="psri-hospital-figure hospital-logo-figure">
                <img
                  class="hospital-logo-image"
                  src="../assets/images/tvastra-plus/hospitals-onboard/psri.svg"
                  alt=""
                />
              </figure>
            </div>

            <div
              class="
                hospital-logo-figure-container
                artemis-hospital-figure-container
              "
            >
              <figure class="artemis-hospital-figure hospital-logo-figure">
                <img
                  class="hospital-logo-image"
                  src="../assets/images/tvastra-plus/hospitals-onboard/artemis.svg"
                  alt=""
                />
              </figure>
            </div>
            <div
              class="
                hospital-logo-figure-container
                tree-hospital-figure-container
              "
            >
              <figure class="tree-hospital-figure hospital-logo-figure">
                <img
                  class="hospital-logo-image"
                  src="../assets/images/tvastra-plus/hospitals-onboard/tree.svg"
                  alt=""
                />
              </figure>
            </div>
            <div
              class="
                hospital-logo-figure-container
                birla-hospital-figure-container
              "
            >
              <figure class="birla-hospital-figure hospital-logo-figure">
                <img
                  class="hospital-logo-image"
                  src="../assets/images/tvastra-plus/hospitals-onboard/birla.svg"
                  alt=""
                />
              </figure>
            </div>
            <div
              class="
                hospital-logo-figure-container
                pratiksha-hospital-figure-container
              "
            >
              <figure class="pratiksha-hospital-figure hospital-logo-figure">
                <img
                  class="hospital-logo-image"
                  src="../assets/images/tvastra-plus/hospitals-onboard/pratiksha.svg"
                  alt=""
                />
              </figure>
            </div>
          </div>
          <p class="more-hospital-text">+ More Hospitals</p>
        </div>
      </div>
    </section>
    <section class="doc-consultation-container">
      <div class="doc-consultaion-info-container">
        <h2 class="zero-fees-title doc-consultation-title">
          Unlimited online consultations with top doctors
        </h2>
        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p
            class="zero-fees-description-text doc-consultaion-description-text"
          >
            Get all your health queries answered from any specialist online. any
            time of the day
          </p>
        </div>
        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p
            class="zero-fees-description-text doc-consultaion-description-text"
          >
            Connect under 2 minutes on text, call or video - available 24 hrs, 7
            days of the week
          </p>
        </div>

        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p
            class="zero-fees-description-text doc-consultaion-description-text"
          >
            All online consultations are confidential. Only patient and doctor
            can the access the chats.
          </p>
        </div>
      </div>
      <div class="doc-consultation-image-container">
        <figure class="doc-consultation-figure">
          <img
            class="doc-consultation-img"
            src="../assets/images/tvastra-plus/online-doc-consultation.png"
            alt=""
          />
        </figure>
      </div>
    </section>
    <section class="doc-consultation-container order-container">
      <div class="order-info-container">
        <h2 class="zero-fees-title doc-consultation-title">
          Flat 20% Off on prescription medicine, lab tests & checkups
        </h2>
        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">
            Save money on medicines and lab tests for your entire family
          </p>
        </div>
        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">
            Get flat 20% off on medicines that reqire prescriptions & flat 20%
            off on health checkups and lab tests.
          </p>
        </div>

        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">
            No questions asked. No minimum order value, no limits, available in
            100+ cities across India.
          </p>
        </div>
      </div>
      <div class="doc-consultation-image-container order-image-container">
        <figure class="doc-consultation-figure order-discount-figure">
          <img
            class="doc-consultation-img"
            src="../assets/images/tvastra-plus/order.jpg"
            alt=""
          />
        </figure>
      </div>
    </section>
    <section class="doc-consultation-container">
      <div class="health-checkup-info-container">
        <h2 class="zero-fees-title doc-consultation-title">
          2 Free health checkups
        </h2>
        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">
            Discuss your test results with doctors through online consultations.
            Receive E-Report within 48 hrs.
          </p>
        </div>
        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">Home sample pickup</p>
        </div>

        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">
            Tabs are NABL, CAP Accredited
          </p>
        </div>

        <div class="zero-fees-description-container">
          <i class="fas fa-check-circle"></i>
          <p class="zero-fees-description-text">
            Checkups can be booked anytime, even weekends. Tax deductible under
            80D.
          </p>
        </div>
      </div>

      <div class="doc-consultation-image-container">
        <figure class="doc-consultation-figure order-discount-figure">
          <img
            class="doc-consultation-img"
            src="../assets/images/tvastra-plus/checkup.jpg"
            alt=""
          />
        </figure>
      </div>
    </section>
    <section class="test-included-section">
      <div class="test-title-container">
        <p class="test-included-section-title">60 Tests Included</p>
      </div>
      <div class="tests-container" id="test-carousel-1">
        <div class="test-type-container" id="vitamin-profile-container">
          <div class="test-img-container">
            <figure class="test-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Vitamin_test.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Vitamin Profile</h5>
          <p class="test-count">2 Tests</p>
        </div>

        <div class="test-type-container" id="iron-profile-container">
          <div class="test-img-container">
            <figure class="test-figure iron-def-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Iron_def.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Iron Deficiency Profile</h5>
          <p class="test-count iron-def-test-count">3 Tests</p>
        </div>

        <div class="test-type-container" id="thyroid-profile-container">
          <div class="test-img-container">
            <figure class="test-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Thyroid.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Thyroid Profile</h5>
          <p class="test-count">3 Tests</p>
        </div>

        <div class="test-type-container" id="liver-profile-container">
          <div class="test-img-container">
            <figure class="test-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Liver.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Liver Profile</h5>
          <p class="test-count">11 Tests</p>
        </div>
      </div>
      <div class="hide-tests-container" id="test-carousel-2">
        <div class="test-type-container" id="vitamin-profile-container">
          <div class="test-img-container">
            <figure class="test-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Thyroid.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Thyroid Profile</h5>
          <p class="test-count">3 Tests</p>
        </div>
        <div class="test-type-container" id="liver-profile-container">
          <div class="test-img-container">
            <figure class="test-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Liver.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Liver Profile</h5>
          <p class="test-count">11 Tests</p>
        </div>
        <div class="test-type-container" id="thyroid-profile-container">
          <div class="test-img-container">
            <figure class="test-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Vitamin_test.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Vitamin Profile</h5>
          <p class="test-count">2 Tests</p>
        </div>
        <div class="test-type-container" id="iron-profile-container">
          <div class="test-img-container">
            <figure class="test-figure iron-def-figure">
              <img
                class="test-img"
                src="../assets/images/tvastra-plus/tests/Iron_def.svg"
                alt=""
              />
            </figure>
          </div>
          <h5 class="test-name">Iron Deficiency Profile</h5>
          <p class="test-count iron-def-test-count">3 Tests</p>
        </div>
      </div>
      <div class="toggle-main-container">
        <div
          class="toggle-blue"
          id="test-toggle-1"
          onclick="testImageCarousel('test-carousel-1','test-toggle-1')"
        ></div>
        <div
          class="toggle"
          id="test-toggle-2"
          onclick="testImageCarousel('test-carousel-2','test-toggle-2')"
        ></div>
      </div>
    </section>
    <div class="reviews-main-container">
      <div class="reviews-title-container">
        <h2 class="reviews-title">Why we love Tvastra</h2>
        <button
          class="light-btn tvastra-plus-hero-section-btn reviews-plus-btn"
        >
          PLUS
        </button>
      </div>
      <div class="review-box">
        <div class="reviews-container">
          <div class="review-sub-container">
            <p class="review-description">
              "Wonderful experience with Tvastra Plus it helped me in saving a
              lot of amount as it provides free consultations with the best
              doctors."
            </p>
            <div class="reviewer-details-container">
              <figure class="review-figure">
                <img
                  class="review-image"
                  src="../assets/images/tvastra-plus/review-image.jpg"
                  alt=""
                />
              </figure>
              <div class="reviewer-name-container">
                <h5 class="reviewer-name">Rishabh Tiwari</h5>
                <div class="plan-user-indicator">Advanced Plan User</div>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews-container">
          <div class="review-sub-container">
            <p class="review-description">
              "Fantastic experience with health test using Tvastra Plus. Didn't
              pay anything for test. I come to know my deficiency in vitamin
              where family doctor feature helped me with medicine"
            </p>
            <div class="reviewer-details-container">
              <figure class="review-figure">
                <img
                  class="review-image"
                  src="../assets/images/tvastra-plus/review-image.jpg"
                  alt=""
                />
              </figure>
              <div class="reviewer-name-container">
                <h5 class="reviewer-name">Mini Aggarwal</h5>
                <div class="plan-user-indicator">Comprehensive Plan User</div>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews-container">
          <div class="review-sub-container">
            <p class="review-description">
              "24x7 access to doctors in just 60 seconds with 2 kids, one of
              them is boud to fall sick.<br />
              Comes in super handy."
            </p>
            <div class="reviewer-details-container">
              <figure class="review-figure">
                <img
                  class="review-image"
                  src="../assets/images/tvastra-plus/review-image.jpg"
                  alt=""
                />
              </figure>
              <div class="reviewer-name-container">
                <h5 class="reviewer-name">Prachi Gupta</h5>
                <div class="plan-user-indicator">Comprehensive Plan User</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="faq-main-container">
      <h2 class="faq-title">Frequently Asked Questions</h2>
      <div class="accordion-item">
        <div class="accordion-item-header attribute-category">
          <div class="attribute-title-container">
            <h4 class="attribute-title">
              How does free in-clinic consultation with doctors and hospitals
              work?
            </h4>
          </div>
          <!-- <div class="arrow-background">
          <i class="fas fa-chevron-up"></i>
        </div> -->
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="attribute-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
              vero ex provident dolores quo sunt quis vel aliquam veniam rem
              inventore aperiam eum delectus, odio ullam ab a suscipit sit.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header attribute-category">
          <div class="attribute-title-container">
            <h4 class="attribute-title">
              Are there are any type of doctors not included in Tvastra Plus
              in-clinic consultation network?
            </h4>
          </div>
          <!-- <div class="arrow-background">
          <i class="fas fa-chevron-down"></i>
        </div> -->
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="attribute-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
              vero ex provident dolores quo sunt quis vel aliquam veniam rem
              inventore aperiam eum delectus, odio ullam ab a suscipit sit.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header attribute-category">
          <div class="attribute-title-container">
            <h4 class="attribute-title">
              How do the unlimited online consultation work?
            </h4>
          </div>
          <!-- <div class="arrow-background">
          <i class="fas fa-chevron-down"></i>
        </div> -->
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="attribute-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
              vero ex provident dolores quo sunt quis vel aliquam veniam rem
              inventore aperiam eum delectus, odio ullam ab a suscipit sit.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header attribute-category">
          <div class="attribute-title-container">
            <h4 class="attribute-title">
              How does flat 20% off on medicines work?
            </h4>
          </div>
          <!-- <div class="arrow-background">
          <i class="fas fa-chevron-down"></i>
        </div> -->
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="attribute-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
              vero ex provident dolores quo sunt quis vel aliquam veniam rem
              inventore aperiam eum delectus, odio ullam ab a suscipit sit.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header attribute-category">
          <div class="attribute-title-container">
            <h4 class="attribute-title">How does 20% off on lab tests work?</h4>
          </div>
          <!-- <div class="arrow-background">
          <i class="fas fa-chevron-down"></i>
        </div> -->
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="attribute-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
              vero ex provident dolores quo sunt quis vel aliquam veniam rem
              inventore aperiam eum delectus, odio ullam ab a suscipit sit.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer" id="tvastra-plus-footer">
      <div class="footer-tabview">
        <figure class="footer-logo">
          <img src="../assets/images/logoFooter.png" alt="" />
        </figure>
        <ul id="tvastra-plus-footer-list">
          <a href="./doctor.html" class="nav-links"><li>Doctor</li></a>
          <a href="./hospital.html" class="nav-links"><li>Hospital</li></a>
          <a href="./treatment.html" class="nav-links"><li>Treatment</li></a>
          <a href="./submityourquery.html" class="nav-links"
            ><li>Other Services</li></a
          >
          <a href="./faq.html" class="nav-links"><li>FAQs</li></a>
        </ul>
      </div>
      <div
        class="footer-tabview copyright-footer"
        id="doc-profile-footer-desktop"
      >
        <div class="follow-us" id="doctor-profile-follow-us">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright" id="doctor-profile-copyright">
          <h6 class="copyright-text">All Rights Reserved.</h6>
          <i class="far fa-copyright copyright-icon"></i>
          <h6 class="copyright-text">tvastra 2020</h6>
        </div>
      </div>
    </footer>
    <script src="../../app.js"></script>
  </body>
</html>
