:root{
    --background-blue:#9BBED9;
    --appointment-title-blue:#297AB6;
    --title-border-bottom-gray:#D6D6D6;
    --label-color-gray:#656565;
    --date-selector-input-gray:#919191;
}

.main-container {
    background: var(--background-blue);
    width: 100%;
    /* height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 2rem 1rem;
  }

  .appointment-title{
      text-align: center;
      padding:1.5rem;
      border-bottom: 1px solid var(--title-border-bottom-gray);
  }

  .appointment-title-text{
      color:var(--appointment-title-blue);
      font-size:1.6rem;
  }

  .appointment-section {
    background: white;
    width: 100%;
    text-align: left;
    align-self: start;
    padding:0;
  }

  .appointment-form{
      padding:1rem;
  }

  .appointment-form-info-containers{
      padding-bottom:1rem;
  }

  .appointment-form-info-title{
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
  }

  .date-selector-input{
      width: 100%;
      padding:0.5rem 1rem;
      font-size:1rem;
      font-family: "Nexa-Bold";
      border:0.15rem solid var(--date-selector-input-gray);
      color:var(--date-selector-input-gray);
      margin-bottom: 1rem;
  }

  .radio-input-container{
      display:flex;
      align-items: center;
      margin-bottom:1rem;
  }

  .radio-input{
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background: #DEDEDE;
        border:1.5px solid #B4B4B4;
        margin:0 1rem 0 0;
  }

  .info-label{
      font-size:1.2rem;
      color:var(--label-color-gray);
  }

  .choose-file-indicator{
      color:black;
      padding-left:1rem;
  }

  #details-text-box{
      width: 100%;
      margin:0.5rem 0;
  }

  
  
  .appointment-btn-text {
    color: white;
    letter-spacing: 0.25rem;
    background: transparent;
    border: none;
    margin: auto;
    padding: 0.5rem 0;
  }
  
  .appointment-btn-arrow {
    color: white;
    margin-right: 0.5rem;
  }

  #appointment-footer {
    background: var(--background-blue);
    padding-top:0;
    padding-bottom:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self:end;
  }

  .appointment-footer-text{
      font-size:0.7rem;
  }

  #appointment-footer-icon{
      font-size:0.5rem;
      color:var(--dark-primary-blue);
      padding:0 0.15rem;
  }

  @media (min-width: 48rem) and (max-width:64rem) {
      .main-container{
          padding:6rem;
      }
  }

  @media(min-width:64rem) {
    .main-container{
        padding:8rem 30%;
    }
}
  

  

