body{
    box-sizing: border-box;
}

.container{
    padding:1rem;
    background: #8fcaf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.container-title{
    color:white;
}

.container-subtitle{
    color:#021433;
}

.container-button{
    background: #0099ff;
    color:white;
    width: 15rem;
    height:4rem;
    border-radius: 0.4rem;
    margin:1rem;
    font-weight: bold;
}