.container{
    background:var(--blue-container-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-title{
    color:white;
  margin-bottom: 1rem;
}

.container-subtitle{
    color:#021433;
    margin-bottom: 1rem;
}