.contact-us-header-figure{
    height: 18rem;
    width: 100%;
}

.contact-us-header-img{
    object-fit: cover;
}

.contact-us-header{
    position: relative;
}

.contact-us-header-text{
    position: absolute;
    top:33%;
    left:22%;
    text-align: center;
}

.contact-us-header-title{
    color:white;
    padding-bottom:1.3rem;
}

.contact-us-header-subtitle{
    color:white;
}

.contact-us-address-section{
    padding-bottom:1rem;
}

.contact-us-address-info-box{
    padding:1rem 1rem 0 1rem;
}

.address-info-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top:1rem;
}

.address-info-container i{
    font-size:1.3rem;
    color:#0173B2;
    padding-right:1rem;
}

.address-main-info-text{
    font-size:1rem;
}

.address-sub-info-text{
    padding-top:0.5rem;
    font-size:0.75rem;
}

.enquiry-box{
    background:#9CBFDA ;
    padding:1rem;
}

.enquiry-box-input{
    padding:0.5rem;
    width: 100%;
    margin-bottom:0.5rem;
}

#contact-us-footer{
    background: #2A2D3E;
}

#contact-us-footer-list li{
    font-size:0.9rem;
    padding-top:0.2rem;
}


#contact-us-follow-us i{
    font-size:1.2rem;
    padding: 1rem 0.4rem 1rem 0.4rem;
}

#contact-us-copyright{
    /* padding-top:1rem; */
}