.contact-us-header-text {
  position: absolute;
  top: 37%;
  left: 10%;
  text-align: center;
}

.doc-info-container {
  border: 1px solid #d1d1d1;
  padding-bottom: 1rem;
}

.image-container {
  width: 100%;
  padding: 0.75rem;
}

.doc-figure {
  margin-bottom: 0.75rem;
  width: 100%;
  height: 100%;
}

.doc-image {
  object-fit: cover;
}

.name-container {
  align-items: center;
  margin: 1rem 0;
}

.horizontal-line {
  height: 3px;
  width: 3.5rem;
  margin-bottom: 0.5rem;
  background-color: #0174b4;
}

.doc-name {
  color: #0174b4;
}

.doc-description {
  font-size: 0.85rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin: 0 0.75rem;
  border-bottom: 2.5px dotted #d1d1d1;
}

.attributes-list-container {
  margin: 0 0.75rem;
}

.attribute-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px dotted #d1d1d1;
  cursor: pointer;
}
.attribute-title-container {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
}

.attribute-title-container i {
  color: #0174b4;
  font-size: 1rem;
  margin-right: 0.75rem;
}

.attribute-title {
  color: #0174b4;
}

/* .arrow-background {
  border-radius: 50%;
  background: #e5f1f7;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .fa-chevron-up,
.fa-chevron-down {
  color: #0174b4;
  font-size: 0.65rem;
} */

.attribute-description {
  background: #e5f1f7;
  font-size: 0.85rem;
  padding: 0.75rem;
}

.accordion-item-header::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  border-radius: 50%;
  background: #e5f1f7;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0174b4;
  font-size: 0.65rem;
  transition: transform 0.3 s ease-in-out;
}

/* .accordion-item-header.active::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  border-radius: 50%;
  background: #e5f1f7;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0174b4;
  font-size: 0.65rem;
} */

.accordion-item-header.active::after {
  transform: rotate(180deg);
}

.accordion-item-body{
  display:none;
}

.accordion-item-header.active + .accordion-item-body{
  display:block;
}

.container {
  background-color: #9cbfda;
}

.container-subtitle {
  color: #4b4949;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

#doctor-profile-follow-us {
  display: block;
  margin: 1.5rem;
}

#doctor-profile-follow-us i {
  font-size: 1.1rem;
  color: white;
  padding: 0 0.5rem;
}

.copyright-text {
  font-size: 1rem;
  color: #d1d1d1;
  font-family: "Nexa-Light";
}

.copyright-icon {
  font-size: 0.7rem;
  color: #d1d1d1;
  font-family: "Nexa-Light";
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .contact-us-header-figure {
    height: 15rem;
  }
  .contact-us-header-img {
    object-position: left;
  }

  .contact-us-header-text {
    left: 0;
    right: 0;
  }

  .doc-info-container{
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: 30% 70%;
      align-items: start;
      justify-items: start;
  }

   .image-container{
       grid-column:2/3;
       grid-row:1/2;
       padding:1rem;
   } 

   .name-container{
       margin:0;
       padding:1rem 0 2rem 0;
   }

   .doc-name{
       font-size:1.7rem;
   }

   .doc-info-main-container{
    grid-column:1/2;
    grid-row:1/3;
   }

   .doc-description{
       text-align: left;
       font-size: 1rem;
       line-height: 1.5rem;
       margin:0 1rem;
   }

   .attribute-description{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
   }

   .attribute-title-container{
       padding:1rem 0;
   }

   .attribute-title{
    font-size: 1.3rem;
   }

   .attribute-title-container i{
       font-size: 1.2rem;
   }
   .attributes-list-container {
    margin: 0 1rem;
}

.horizontal-line {
    height: 2px;
    width: 0.7rem;
}

.footer-logo{
    margin:0;
}

#doctor-profile-follow-us{
    margin:0;
}

#doctor-profile-follow-us i{
    color: var(--dark-primary-blue);
    padding: 0 0 0 0.5rem;
}

.copyright{
    margin:0;
}

.copyright-text, .copyright-icon {
    color: var(--dark-primary-blue);
    font-size: 0.8rem;
}
#doc-profile-footer-desktop{
    margin-top: 2rem;
}
}

@media (min-width: 64rem) {

    .main-nav__list li {
        font-size: 1rem;
    }

    .contact-us-header-figure {
        height: 15rem;
      }
    .contact-us-header-text {
        left: 6.25rem;
    }

    .doc-info-container{
        display: grid;
        grid-template-columns: 77% 23%;
        grid-template-rows: 25% 75%;
        align-items: start;
        justify-items: start;
        padding-bottom: 2rem;
    }

    .image-container{
        grid-column:2/3;
        grid-row:1/2;
        padding: 2rem 2rem 0 0;
    } 
 
    .name-container{
        margin:0;
        padding:2rem 0 2rem 0;
    }
 
    .doc-name{
        font-size:1.7rem;
    }
 
    .doc-info-main-container{
     grid-column:1/2;
     grid-row:1/3;
    }
 
    .doc-description{
        text-align: left;
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0 2rem;
    }
 
    .attribute-description{
     text-align: left;
     font-size: 1rem;
     line-height: 1.5rem;
    }
 
    .attribute-title-container{
        padding:1.4rem 0;
    }
 
    .attribute-title{
     font-size: 1.2rem;
    }
 
    .attribute-title-container i{
        font-size: 1.1rem;
    }
    .attributes-list-container {
     margin: 0 1rem 0 2rem;
 }
 
 .horizontal-line {
     height: 2px;
     width: 1.6rem;
 }
 
 .footer-logo{
     margin:0;
 }
 
 #doctor-profile-follow-us{
     margin:0;
 }
 
 #doctor-profile-follow-us i{
     color: var(--dark-primary-blue);
     padding: 0 0 0 1.125rem;
 }
 
 .copyright{
     margin:0;
 }
 
 .copyright-text, .copyright-icon {
     color: var(--dark-primary-blue);
 }
 #doc-profile-footer-desktop{
     margin-top: 2rem;
 }

 .container-title{
    margin-bottom:0;

 }

 .container-subtitle{
     margin-bottom:0;
 }
  
}
