:root {
  --background-blue: #9cbfda;
}



body{
  background: var(--background-blue);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display:grid;
  grid-template-rows: 20% 60% 20%;
  justify-items: center;
  align-items:center;
}

html {
  height: -webkit-fill-available;
}

.main-nav{
  align-self: start;
  justify-self:stretch;
  grid-row:1/2;
}

.main-container {
  grid-row:2/3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.login-section {
  background: white;
  width: 100%;
  text-align: center;
  padding: 0;
}


.login-title {
  border-bottom: 2px solid #e2e2e2;
  padding: 1.5rem;
}

.login-title-text {
  color: #1187c5;
}

.login-credentials {
  margin: 1rem;
}

.login-credentials__input {
  border: 1.5px solid #e2e2e2;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-number__input {
  width:100%;
  border: none;
  font-size: 0.8rem;
}

.login-number__icon {
  font-size: 1.25rem;
  color:#cccccc;
}

.login-section-btn {
  background: #2a2d3e;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-btn-text {
  color: white;
  letter-spacing: 0.25rem;
  background: transparent;
  border: none;
  margin: auto;
  padding: 0.5rem 0;
}

.login-btn-arrow {
  color: white;
  margin-right: 0.5rem;
}

.new-user {
  font-size: 0.85rem;
  color: #8e7d8a;
}

.sign-up-link {
  font-size: 0.85rem;
  color: #1187c5;
  margin-left: 0.25rem;
  font-family: "Nexa-Bold";
}

#login-footer {
  background: transparent;
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row:3/4;
  align-self:end;
}

.login-footer-text {
  font-size: 0.75rem;
}

.login-footer-icon {
  color: black;
  margin: 0 0.25rem;
  font-size: 0.5rem;
}

@media (min-width: 48rem) and (max-width:64rem) {
  .main-container {
    padding: 10rem;
  }

  #login-footer{
    padding:3rem;
  }
  .login-footer-icon {
    font-size: 0.75rem;
  }

  .login-footer-text {
    font-size: 0.85rem;
  }
}

@media (min-width: 64rem) {
  .main-container {
    padding: 7rem 35%;
  }


  .login-footer-icon {
    font-size: 0.85rem;
  }

  .login-footer-text {
    font-size: 1rem;
  }
}
