* {
  box-sizing: border-box;
}
.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo {
  width: 6.5rem;
}

.fa-bars {
  color: #525659;
}

.main-nav__list {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.hero-section {
  background-color: var(--light-primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-section__title {
  text-shadow: 0.4px 0.4px var(--dark-primary-blue);
  margin-bottom: 1rem;
}

.hero-section__subtitle {
  text-shadow: 0.1px 0.1px var(--paragraph-text-color);
}

.dummy-text {
  display: none;
}

.hero-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.hero-section__location {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

.assistance {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.location-icon {
  width: 1rem;
  color: var(--dark-primary-blue);
  padding-right: 0.25rem;
}

.location-input {
  width: 100%;
  border: none;
}

.location-gps {
  align-self: center;
  width: 1rem;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.how-it-works__services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.how-it-works__service {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--dark-input-grey);
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.fix-consultation-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--dark-input-grey);
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  border-color: var(--dark-primary-blue);
}

.service-tag {
  padding-left: 0.5rem;
  font-family: "Nexa-Bold";
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.service-number {
  font-family: "Nexa-Bold";
  font-size: 1rem;
  line-height: 1.2rem;
}
.service-01 {
  padding-left: 0.5rem;
  font-family: "Nexa-Bold";
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

.servicenum-01 {
  font-family: "Nexa-Bold";
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--light-primary-blue);
}

.service-imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-image {
  margin: 1rem 0;
  width: 90%;
}
.service-image img {
  object-fit: cover;
}

.service-image__title {
  color: var(--dark-primary-blue);
  padding: 0.5rem;
}

.service-image__subtitle {
  font-size: 0.8rem;
}

.image-hidden{
  display: none;
}

.doctors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-background-color);
  text-align: center;
}

.doctors-title {
  color: var(--white-color);
}

.doctors-subtitle {
  color: var(--light-input-grey);
}

.doctors-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hide-doc-carousel{
  display: none;
}
.doctorImage-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-bottom: 4px solid var(--light-primary-blue);
  margin-top: 1rem;
}

.doctor-image {
  height: 22rem;
  width: 100%;
}

.doctor-image img {
  object-fit: cover;
}

.doctors-toggle {
  display: none;
}

figcaption {
  display: flex;
  text-align: left;
}

.doctor-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-line {
  width: 1.6rem;
  height: 0.1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: #019fdd;
}

.name {
  color: #019fdd;
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.5rem;
  font-family: "Nexa-Bold";
}

.doctors-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.6rem;
  margin-bottom: 0.5rem;
}

.doctor-detail {
  align-content: flex-start;
  padding: 0.15rem 0.25rem;
}

.doctors-toggle__button {
  /* margin-top: 2.5rem; */
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background: var(--doctor-toggle-gray);
  margin: 0.5rem;
}

.highlited-toggle__button {
  height: 1rem;
  width: 1rem;
  background: transparent;
  border-radius: 50%;
  border: 2.5px solid var(--highlighted-toggle-blue);
}

.hide-treatments-images{
  display: none;
}

.treatments {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.treatments-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.treatments__image-block {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.backdrop {
  width: 100%;
  height: 6.5rem;
  background-image: linear-gradient(
    to top,
    rgba(10, 15, 31, 0.85) 60%,
    transparent
  );
  position: absolute;
  bottom: 0;
}

.treatment-image {
  object-fit: cover;
}

.treatment_image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.treatment_title {
  color: var(--white-color);
  text-align: right;
  font-size: 1rem;
}

.treatment_subtitle {
  color: var(--white-color);
  font-size: 0.7rem;
  padding: 0;
}

.exclusive-services {
  background-color: var(--light-gray-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.exclusive-services__dummy-text {
  display: none;
}

.exclusive-services__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.exclusive-services__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 49%;
  border-radius: 1rem;
  background-color: white;
  margin-top: 0.5rem;
  padding-bottom: 1.1rem;
  flex-shrink: 2;
}

.icon-figure {
  width: 50%;
}

.icon-figure img {
  object-fit: contain;
}

.icon-figurecaption {
  color: #5e5e5e;
  font-weight: bolder;
  font-family: "Nexa-Bold";
  font-size: 0.75rem;
}

@media (min-width: 48rem) {
  .hero-section__form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .gps {
    margin: 0;
    width: 30%;
    border-right: 1px solid var(--dark-input-grey);
  }

  .assistance {
    width: 50%;
    margin: 0;
  }

  .how-it-works__services {
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  .how-it-works__service {
    width: 45%;
    padding: 0.8rem;
  }

  .fix-consultation-block{
    width: 45%;
    padding: 0.8rem;
  }

  .service-tag {
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .service-number {
    font-family: "Nexa-Bold";
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .service-01{
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .servicenum-01 {
    font-family: "Nexa-Bold";
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .service-imageBlock {
    align-self: flex-end;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    bottom: 0;
  }

  .service-image {
    width: 90%;
    margin-bottom: 0;
  }

  .service-image img {
    object-fit: cover;
  }

  .doctors-block {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.25rem;
  }

  .doctorImage-section {
    width: 49%;
  }

  .name {
    font-size: 0.8rem;
  }

  .doctor-detail {
    font-size: 0.7rem;
  }

  .treatments-images {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .treatments__image-block {
    width: 49%;
    height: 18rem;
  }
  .treatment_subtitle {
    font-size: 0.7rem;
  }

  .exclusive-services__icon {
    width: 32%;
  }

  .icon-figure {
    width: 30%;
  }

  .icon-figurecaption {
    font-size: 0.7rem;
  }
}

@media (min-width: 64rem) {
  .main-nav__logo {
    width: 11rem;
  }

  #toggle-bars {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list li {
    font-size: 1rem;
    color: var(--main-nav-list-gray);
    /* text-shadow: 1px 1px var(--main-nav-list-gray); */
    font-weight: bold;
  }

  .main-nav__list li {
    text-shadow: 0.15px 0.15px #526075;
  }

  .hero-section {
    background: url("../assets/images/bannerimg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 30rem;
    align-items: flex-start;
  }

  .hero-section__location {
    align-items: center;
  }

  .hero-section__title {
    margin-bottom: 1rem;
  }

  .hero-section__subtitle {
    font-weight: bold;
  }

  .hero-section__description {
    width: 50%;
  }

  .hero-section__form {
    justify-content: flex-start;
    width: 66%;
    margin-top: 2rem;
  }

  .gps {
    width: 33%;
    flex-grow: 2;
    align-items: baseline;
  }

  .hero-section__location {
    padding: 1rem;
  }

  .location-input {
    padding-left: 0.5rem;
    font-size: 1rem;
  }

  .search-location {
    flex-grow: 4;
    /* width:80%; */
  }

  .location-icon {
    font-size: 1.25rem;
    flex-grow: 2;
  }

  .location-gps {
    width: 1.25rem;
    flex-grow: 4;
  }

  .assistance {
    width: 47%;
    flex-grow: 5;
  }

  .how-it-works {
    align-items: flex-start;
  }

  .how-it-works-section__description {
    display: none;
  }

  .dummy-text {
    display: block;
    font-weight: bold;
  }

  .how-it-works__service {
    width: 40%;
    padding: 3rem 2rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
    text-align: left;
    border: 2.5px solid var(--light-gray-background-color);
  }

  .fix-consultation-block {
    width: 40%;
    padding: 3rem 2rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
    text-align: left;
    border: 2.5px solid var(--how-it-works-list-blue);
  }

  .service-tag {
    padding-left: 3rem;
    font-size: 1.6rem;
    color: var(--how-it-works-text-gray);
  }

  .service-number {
    font-size: 1.7rem;
    color: var(--how-it-works-number-gray);
  }

  .servicenum-01 {
    color: var(--how-it-works-list-blue);
    font-size: 1.7rem;
  }

  .service-01 {
    color: var(--search-btn-desktop);
    padding-left: 3rem;
    font-size: 1.6rem;
  }

  .how-it-works__services {
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
  }
  .service-imageBlock {
    top: 0%;
    right: 0%;
    width: 60%;
  }

  .service-image {
    width: 80%;
    margin-bottom: 0;
  }

  .service-image__title {
    color: var(--search-btn-desktop);
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    text-shadow: 0.5px 0.5px var(--search-btn-desktop);
  }

  .service-image__subtitle {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    width: 55%;
  }

  .doctors {
    align-items: flex-start;
    text-align: left;
    color: var(--search-btn-desktop);
  }

  .doctors-block {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .doctorImage-section {
    width: 24.5%;
  }

  .doctors-subtitle {
    display: none;
  }
  .doctors__dummy-text {
    color: white;
  }

  .name {
    font-size: 1.1rem;
  }

  .doctor-detail {
    font-size: 0.75rem;
  }

  .doctors-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 5rem; */
    margin-left: 1.5rem;
  }

  .treatments {
    align-items: flex-start;
  }

  .treatments__description {
    display: none;
  }

  .treatments-images {
    position: relative;
    /* height: 100vh; */
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0.75rem;
  }

  .dentistry {
    height: 100%;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .cancer {
    height: 100%;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .cancer img {
    object-position: right;
  }

  .cardiology {
    height: 100%;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .multiorgan {
    height: 100%;
    width: auto;
    grid-row-start: 5;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .multiorgan img {
    object-position: -119px;
  }

  .orthopedics {
    height: 100%;
    width: auto;
    grid-row-start: 7;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .infertility {
    height: 100%;
    width: auto;
    grid-row-start: 6;
    grid-row-end: 13;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .infertility img {
    object-position: -40px;
  }

  .treatment_title {
    font-size: 1.2rem;
  }

  .treatment_subtitle {
    padding-top: 0.3rem;
    font-size: 0.85rem;
  }

  .exclusive-services {
    align-items: flex-start;
    background: var(--exclusive-services-grey-desktop);
  }

  .exclusive-services__subtitle {
    display: none;
  }

  .exclusive-services__icons {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .exclusive-services__icon {
    width: 16.45%;
    height: 14rem;
    border-radius: 0;
    margin-top: 0;
    justify-content: center;
  }

  .icon-figure {
    width: 45%;
  }

  .icon-figurecaption {
    font-size: 1rem;
    color: var(--services-icon-text-gray);
  }
}
