* {
  box-sizing: border-box;
}
.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo {
  width: 6.5rem;
}

.fa-bars {
  color: #525659;
}

.hero-section {
  background-color: var(--light-primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-section__title {
  text-shadow: 0.5px 0.5px var(--dark-primary-blue);
  margin-bottom: 1rem;
}

.hero-section__subtitle{
  text-shadow: 0.15px 0.15px var(--paragraph-text-color);
}

.hero-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:1rem;
  width: 100%;
}

.hero-section__location {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;

}

.assistance {
  margin-top:0.5rem;
  margin-bottom: 1rem;
}

.location-icon {
  width: 1rem;
  color: var(--dark-primary-blue);
  padding-right:0.25rem;
}

.location-input {
  width: 90%;
  border: none;
}

.location-gps {
  align-self: center;
  width: 1rem;
}


.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.how-it-works__services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top:1rem;
  width:100%;
}

.how-it-works__service {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--dark-input-grey);
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  
}

.fix-consultation-block {
  border-color: var(--dark-primary-blue);
}

.service-tag {
  padding-left: 0.5rem;
  font-family: "Nexa-Bold";
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.service-number {
  font-family: "Nexa-Bold";
  font-size: 1rem;
  line-height: 1.2rem;
}
.service-01 {
  color: var(--dark-primary-blue);
}

.servicenum-01 {
  color: var(--light-primary-blue);
}

.service-imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-image {
  margin: 1rem 0;
  width: 90%;
}
.service-image img {
  object-fit: cover;
}

.service-image__title {
  color: var(--dark-primary-blue);
  padding: 0.5rem;
}

.service-image__subtitle {
  font-size: 0.8rem;
}

.doctors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-background-color);
  text-align: center;
}

.doctors-title {
  color: var(--white-color);
}

.doctors-subtitle {
  color: var(--light-input-grey);
}

.doctors-block {
  display: flex;
  flex-direction: column;
}
.doctorImage-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-bottom: 4px solid var(--light-primary-blue);
  margin-top: 1rem;
}

.doctor-image {
  height: 22rem;
  width: 100%;
}

.doctor-image img {
  object-fit: cover;
}

figcaption {
  display: flex;
  text-align: left;
}

.doctor-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-line {
  width: 1.6rem;
  height: 0.1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: #019fdd;
}

.name {
  color: #019fdd;
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.5rem;
  font-family: "Nexa-Bold";
}

.doctors-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.6rem;
  margin-bottom: 0.5rem;
}

.doctor-detail {
  align-content: flex-start;
  padding: 0.15rem 0.25rem;
}

.treatments {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.treatments-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.treatments__image-block {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.backdrop {
  width: 100%;
  height: 6.5rem;
  background-image: linear-gradient(
    to top,
    rgba(10, 15, 31, 0.85) 60%,
    transparent
  );
  position: absolute;
  bottom: 0;
}

.treatment-image{
  object-fit: cover;
}

.treatment_image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.treatment_title {
  color: var(--white-color);
  text-align: right;
}

.treatment_subtitle {
  color: var(--white-color);
  font-size: 0.8rem;
  padding: 0;
}

.exclusive-services {
  background-color: var(--light-gray-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.exclusive-services__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width:100%;
}

.exclusive-services__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 48%;
  border-radius: 1rem;
  background-color: white;
  margin-top:1rem;
  padding-bottom: 1.1rem;
  flex-shrink: 2;
}

.icon-figure{
  width:50%;
}

.icon-figure img{
  object-fit: contain;
}

.icon-figurecaption{
  color: #5e5e5e;
  font-weight: bolder;
  font-family: "Nexa-Bold";
  font-size:0.75rem;
}

@media (min-width: 48rem) {

  .hero-section__form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  .gps {
    margin: 0;
    width: 30%;
    border-right: 1px solid var(--dark-input-grey);
  }

  .assistance {
    width: 50%;
    margin: 0;
  }

  .dark-btn{
    width:20%;
  }

  .how-it-works__services {
    align-items: flex-start;
    position: relative;
    width:100%;
  }

  .how-it-works__service {
    width: 45%;
    padding:0.8rem;
  }

  .service-tag {
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .service-number {
    font-family: "Nexa-Bold";
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .service-imageBlock {
    align-self: flex-end;
    position: absolute;
    top: 0%;
    right: 7%;
    width: 45%;
  }

  .service-image{
    width:80%;
    margin-bottom:0;
  }

  .service-image img{
    object-fit: contain;
  }

  .doctors-block {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:0.25rem;
  }

  .doctorImage-section {
    width: 49%;
  }

  .name {
    font-size: 0.8rem;
  }
  
  .doctor-detail {
    font-size: 0.7rem;
  }


  .treatments-images {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .treatments__image-block {
    width: 49%;
    height: 18rem;
  }
  .treatment_subtitle{
    font-size:0.7rem;
  }

  .exclusive-services__icon {
    width: 32%;
  }

  .icon-figure{
    width:30%;
  }

  .icon-figurecaption{
    font-size: 0.7rem;
  }
}
