* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo {
  padding: 0.8rem;
  width: 9rem;
}

.fa-bars {
  padding: 0.8rem;
  color: #525659;
}

.hero-section {
  /* margin-top:3rem; */
  /* width: 100%; */
  background-color: var(--light-primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* padding:1.5rem 0; */
  /* align-content: center; */
}

.hero-section__title {
  margin: 0.5rem;
  /* padding:0.8rem; */
}

.hero-section__subtitle {
  /* margin:0.5rem; */
  padding: 1rem;
}

.hero-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section__location {
  background-color: white;
  width: 90vw;
  padding: 0.8rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

.assistance {
  margin-bottom: 1rem;
}

.location-icon {
  color: var(--dark-primary-blue);
}

.location-input {
  width: 85vw;
  border: none;
  /* font-size: small; */
}

.location-gps {
  width: 1rem;
}

/* hero section media query */

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.how-it-works__services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.how-it-works__service {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--dark-input-grey);
  width: 80vw;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0;
}

.fix-consultation-block {
  border-color: var(--dark-primary-blue);
}

.service-tag {
  padding-left: 0.5rem;
  color: var(--dark-input-grey);
}
.service-number {
  color: var(--dark-input-grey);
}
.service-01 {
  color: var(--dark-primary-blue);
}

.servicenum-01 {
  color: var(--light-primary-blue);
}

.service-imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-image {
  margin: 1rem 0;
  width: 80%;
}
.service-image img {
  object-fit: cover;
}

.service-image__title {
  color: var(--dark-primary-blue);
  padding: 0.5rem;
}

.doctors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-primary-blue);
  text-align: center;
  /* margin: 1.5rem 0; */
}

.doctors-title {
  color: var(--light-input-grey);
}

.doctors-subtitle {
  color: var(--footer-list-text);
}

.doctors-block {
  display: flex;
  flex-direction: column;
}
.doctorImage-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-bottom: 4px solid var(--light-primary-blue);
  /* padding: 0; */
  margin: 0.75rem 0.5rem;
}

.doctor-image {
  height: 22rem;
  width: 100%;
}

.doctor-image img {
  object-fit: cover;
}

figcaption {
  display: flex;
  text-align: left;
}

.doctor-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-line {
  width: 1.6rem;
  height: 0.1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: #019fdd;
}

.name {
  color: #019fdd;
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.5rem;
  font-family: "Nexa-Bold";
}

.doctors-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1.6rem;
  margin-bottom: 0.5rem;
}

.doctor-detail {
  align-content: flex-start;
  padding: 0.15rem 0.25rem;
}

.treatments {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.treatments-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.treatments__image-block {
  /* height: 21rem; */
  position: relative;
  /* padding: 0; */
  margin: 0.5rem;
  width: 100%;
  height: 21rem;
  object-fit: cover;
  /* height: 80%; */
}
/* background-image: linear-gradient(to bottom,(rgba(21,30,59,0.6)),10%,transparent); */

.backdrop {
  width: 100%;
  height: 6.5rem;
  background-image: linear-gradient(
    to top,
    rgba(10, 15, 31, 0.85) 60%,
    transparent
  );
  position: absolute;
  bottom: 0;
}

.treatment_image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.treatment_title {
  color: var(--white-color);
  /* padding-bottom: 0.5rem; */
  text-align: right;
  /* font-size: 1.8rem; */
}

.treatment_subtitle {
  color: var(--white-color);
  font-size: 0.8rem;
  padding: 0;
}

.exclusive-services {
  background-color: var(--light-input-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100%; */
}

.exclusive-services__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.exclusive-services__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  width: 45%;
  border-radius: 1rem;
  background-color: white;
  margin: 0.25rem;
  flex-shrink: 2;
}

.icon-figure {
  width: 40%;
}

.exclusive-services__icon h6 {
  color: #5e5e5e;
  position: relative;
  bottom: 0.7rem;
  margin: auto;
}

@media (min-width: 48rem) {
  .hero-section__form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }
  .gps {
    margin: 0;
    width: 27%;
  }

  .search-location {
    /* padding:0.5rem; */
    width: 80%;
    margin: 0;
  }

  .assistance {
    /* padding:0.5rem; */
    width: 50%;
    margin: 0;
  }

  .how-it-works__services {
    width: 100vw;
  }

  .how-it-works__service {
    position: relative;
    right: 21%;
    width: 40vw;
  }

  .service-imageBlock {
    position: absolute;
    right: 7%;
    width: 35vw;
  }

  .doctors-block {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .doctorImage-section {
    width: 45%;
  }

  .treatments-images {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .treatments__image-block {
    width: 45%;
  }

  .exclusive-services__icon {
    width: 30%;
  }
}
