html,
body {
  box-sizing: border-box;
}

@font-face {
  font-family: "Nexa-Bold";
  src: url("../assets/fonts/Nexa-Bold.otf");
}

@font-face {
  font-family: "Nexa-Light";
  src: url("../assets/fonts/Nexa-Light.otf");
}

:root {
  --light-primary-blue: #9dc0db;
  --dark-primary-blue: #021433;
  --light-input-grey: #eeeeee;
  --footer-list-text: #cccccc;
  --footer-end-text: #636668;
  --dark-input-grey: #b8b8b8;
  --paragraph-text-color: #29272e;
  --dark-btn-textcolor: hsl(0, 1%, 68%);
  --white-color: #ffffff;
  --black-color: rgb(0, 0, 0);
}

nav {
  background-color: var(--white-color);
  font-family: "Nexa-Light";
}

button {
  /* border: 0.06rem solid var(--dark-primary-blue); */
  padding: 0.8rem 2rem;
  font-size: 0.9rem;
  color: var(--white-color);
  font-family: "Nexa-Light";
}

.dark-btn {
  background-color: var(--dark-primary-blue);
  color: var(--white-color);
  font-family: "Nexa-Light";
  font-size: 0.9rem;
  border: 0.125rem solid var(--dark-primary-blue);
  padding: 0.8rem 3rem;
  border-radius: 0.2rem;
}

.light-btn {
  background: #0099ff;
  color: var(--white-color);
  border: 0.06rem solid #0099ff;
  padding: 0.8rem 2rem;
  border-radius: 0.2rem;
  font-family: "Nexa-Light";
  font-size: 0.9rem;
}

h1 {
  font-family: "Nexa-Bold";
  font-size: 2rem;
  line-height: 1;
  color: var(--dark-primary-blue);
}

h2 {
  font-family: "Nexa-Bold";
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--dark-primary-blue);
}

h3 {
  font-family: "Nexa-Bold";
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--dark-primary-blue);
}

h4 {
  font-family: "Nexa-Bold";
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

h5 {
  font-family: "Nexa-Bold";
  font-size: 1rem;
  line-height: 1rem;
  color: var(--dark-primary-blue);
}

h6 {
  font-family: "Nexa-Bold";
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: var(--dark-primary-blue);
}

section {
  padding: 2rem 1rem;
}

p {
  font-family: "Nexa-Light";
  font-size: 1rem;
  color: var(--paragraph-text-color);
  /* word-spacing: 0.25rem; */
  line-height: 1.5rem;
}

span {
  font-family: "Nexa-Bold";
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--light-input-grey);
}

ul {
  overflow: hidden;
  top: 0;
  width: 100%;
  list-style-type: none;
  /* background-color: var(--white-color); */
}

li {
  color: var(--footer-list-text);
  font-size: 0.9rem;
  /* word-spacing: 0.25rem; */
  line-height: 1rem;
  font-family: "Nexa-Light";
}

a {
  color: var(--paragraph-text-color);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.5rem;
  font-family: "Nexa-Light";
  text-decoration: none;
}

a:hover {
  color: var(--dark-primary-blue);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.5rem;
  font-family: "Nexa-Light";
  text-decoration: underline;
}

input {
  font-family: "Nexa-Light";
  font-size: 0.8rem;
  color: var(--paragraph-text-color);
  word-spacing: 0.25rem;
  outline:none;
  line-height: 1.3rem;
  border: 0.06rem solid var(--light-input-grey);
  background-color: var(--white-color);
}

label {
  color: var(--dark-primary-blue);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.3rem;
  font-family: "Nexa-Bold";
}

select {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
  font-family: "Nexa-Light";
}

option {
  font-size: 1rem;
  color: var(--dark-primary-blue);
  line-height: 1.2rem;
  font-family: "Nexa-Light";
}

img {
  height: 100%;
  width: 100%;
}

i {
  color: var(--footer-list-text);
  font-size: 1rem;
}

figure {
  border: none;
}

figcaption {
  background-color: var(--white-color);
  color: var(--footer-end-text);
  font-family: "Nexa-Light";
  /* text-align: center; */
  font-size: 0.8rem;
}

footer {
  height: auto;
  background-color: var(--dark-primary-blue);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

/* Tab view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.3rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  h5 {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }

  h6 {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  label {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  input {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  li {
    font-size: 0.8rem;
    color: var(--footer-end-text);
  }

  i {
    color: var(--footer-end-text);
    font-size: 0.8rem;
  }
}

/* Desktop view */
/* @media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 1.4rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.3rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 1.3rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 1.3rem;
  }

  h6 {
    font-size: 1.4rem;
    line-height: 1.3rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  label {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  input {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  section{
    padding: 1.2rem;
  }
} */
