/* 
Use nexa-light and nexa-bold as font-family for every headings,p and other text items. Don't use other font-family
Don't give paddings to the headings in theme. Any place where you use padding what is the necessity of padding bottom?
don't specify display in theme
No need to use font-weight
for image height and width should be 100%
section for mobile and tab view is missing. No need to specify div if you are specifying section
 */

html,
body {
  box-sizing: border-box;
}

@font-face {
  font-family: "Nexa-Bold";
  src: url("../assets/fonts/Nexa-Bold.otf");
}

@font-face {
  font-family: "Nexa-Light";
  src: url("../assets/fonts/Nexa-Bold.otf");
}

:root {
  --light-primary-blue: #87c3f1;
  --dark-primary-blue: #151e3b;
  --bold-primary-font: "Nexa-Bold";
  --light-primary-font: "Nexa-Light";
  --light-input-grey: rgb(209, 204, 204);
  --paragraph-text-color: #706c80;
  --dark-btn-textcolor: hsl(0, 1%, 68%);
  --white-color: #ffffff;
  --black-color: rgb(0, 0, 0);
}

button {
  border: 0.06rem solid var(--dark-primary-blue);
  padding: 0.6rem;
  font-family: var(--light-primary-font);
}

.dark-btn {
  background-color: var(--dark-primary-blue);
  color: var(--dark-btn-textcolor);
  font-family: var(--light-primary-font);
  border: 0.06rem solid var(--dark-primary-blue);
  padding: 0.6rem;
}

.light-btn {
  background-color: var(--light-primary-blue);
  color: var(--white-color);
  border: 0.06rem solid var(--light-primary-blue);
  padding: 0.6rem;
  font-family: var(--light-primary-font);  
}

h1 {
  font-family: var(--bold-primary-font);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  color: var(--dark-primary-blue);
}

h2 {
  font-family: var(--bold-primary-font);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

h3 {
  font-family: var(--bold-primary-font);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

h4 {
  font-family: var(--bold-primary-font);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

h5 {
  font-family: var(--bold-primary-font);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

h6 {
  font-family: var(--bold-primary-font);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
}

p {
  font-family: var(--light-primary-font);
  font-size: 1.2rem;
  color: var(--paragraph-text-color);
  word-spacing: 0.25rem;
  line-height: 1.4rem;
}

span {
  font-family: var(--light-primary-font);
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--light-services-grey);
}

ul {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: var(--white-color);
}

li {
  color: var(--paragraph-text-color);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.5rem;
  font-family: var(--light-primary-font);
  padding: 1.25rem;
}

a {
  color: var(--paragraph-text-color);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.5rem;
  font-family: var(--light-primary-font);
}

a:hover {
  color: var(--dark-primary-blue);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.5rem;
  font-family: var(--light-primary-font);
}

input {
  font-family: var(--light-primary-font);
  font-size: 1rem;
  color: var(--paragraph-text-color);
  word-spacing: 0.25rem;
  line-height: 1.3rem;
  border: 0.06rem solid var(--light-input-grey);
  background-color: var(--white-color);
}

label {
  color: var(--dark-primary-blue);
  font-size: 1rem;
  word-spacing: 0.25rem;
  line-height: 1.3rem;
  font-family: var(--bold-primary-font);
}

select {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--dark-primary-blue);
  font-family: var(--light-primary-font);
}

option {
  font-size: 1rem;
  color: var(--dark-primary-blue);
  line-height: 1.2rem;
  font-family: var(--light-primary-font);
}

img {
  height: 100%;
  width: 100%;
}

figure {
  border: 0.06rem solid var(--dark-primary-blue);
  padding: 0.25rem;
}

figcaption {
  background-color: var(--white-color);
  color: var(--dark-primary-blue);
  font: var(--light-primary-font);
  padding: 0.25rem;
  text-align: center;
}

/* Mobile view */
@media only screen and (min-width: 480px) {
  h1 {
    font-size: 2rem;
    line-height: 1.2rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1rem;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  label {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  input {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

/* Tab view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.3rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.2rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 1.2rem;
  }

  h5 {
    font-size: 1.4rem;
    line-height: 1.2rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  label {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  input {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 1.4rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 1.3rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 1.3rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 1.3rem;
  }

  h6 {
    font-size: 1.4rem;
    line-height: 1.3rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  label {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  input {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  height: auto;
  background-color: var(--dark-primary-blue);
  justify-content: center;
  align-items: center;
  text-align: center;
}
