.hero-section-cover-figure {
  height: 25rem;
}

.hero-section-cover-image {
  object-fit: cover;
  object-position: left;
}

.tvastra-plus-hero-section {
  position: relative;
}

.hero-section-text-container {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.hero-section-title {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.7rem;
  line-height: 1.85rem;
}

.hero-section-subtitle {
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.plans-section {
  background: linear-gradient(to bottom, rgb(196, 223, 238), transparent);
  height: 85rem;
  position: relative;
  padding-bottom: 0;
}

.plans-main-container {
  background: white;
  padding: 1rem 0.75rem;
  border-radius: 0.35rem;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -12.5rem;
  left: 0;
  right: 0;
}

.plans-section-heading {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
}

.plans-section-heading-title {
  padding-bottom: 1rem;
  line-height: 1.8rem;
}

.plans-section-heading-subtitle {
  /* padding-bottom: 1.5rem; */
  font-size: 0.9rem;
}

.plan-container {
  width: 100%;
  margin-bottom: 1.5rem;
}

.basic-plan {
  margin-bottom: 2rem;
}

.plan-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding-top: 1.5rem;
}

.plan-container-title {
  text-align: center;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dbdbdb;
}

.advanced-plan-title {
  border-bottom: 1px solid #bdbdbd;
}

.plan-container-descrption-box {
  text-align: center;
  margin: 1.5rem 0;
  /* padding-bottom: 3rem; */
}

.plan-container-descrption {
  padding-bottom: 0.75rem;
  font-size: 0.9rem;
}

.pricing-details-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-details-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.price-info-text {
  padding: 0 0.25rem;
}

#rupee-sign {
  color: black;
  font-size: 1.2rem;
}

.plan-details-text {
  padding-bottom: 1.5rem;
  color: #2c8dc7;
}

.advanced-plan {
  background: linear-gradient(to bottom, rgb(185, 217, 234), transparent);
  position: relative;
}

.popular-plan-container {
  position: absolute;
  padding: 0.35rem 0;
  width: 25%;
  text-align: center;
  color: white;
  background: #008000;
  border-radius: 20px;
  font-size: 0.85rem;
  top: -0.75rem;
  left: 37%;
}

.ratings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0;
}

.ratings-section-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.8rem;
}

.ratings-section-description {
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

.star-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.star-rating-subcontainer {
  width: 100%;
}

.star-rating-title {
  color: #0173b2;
  font-size: 2.75rem;
}

.stars-container i {
  color: #0173b2;
  font-size: 0.65rem;
  padding: 0.5rem 0 0.7rem 0;
}
.star-rating-container-description {
  color: #0173b2;
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}

.rating-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  width: 100%;
}

.rating-bar-number {
  color: #0173b2;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.gray-bar {
  background: #cccccc;
  height: 0.9rem;
  width: 55%;
  border-radius: 20px;
}

.rating-bar-subcontainer {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.blue-bar {
  background: #0173b2;
  height: 0.9rem;
  border-radius: 20px;
}
.blue-bar-rating-5 {
  width: 75%;
}
.blue-bar-rating-4 {
  width: 33%;
}
.blue-bar-rating-3 {
  width: 33%;
}
.blue-bar-rating-2 {
  width: 20%;
}
.blue-bar-rating-1 {
  width: 10%;
}

.rating-attribute-main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  /* align-items: center; */
}

.attribute-item-container {
  padding: 1rem 0.8rem;
}

.attribute-item-container i {
  font-size: 2rem;
  color: #0173b2;
}

.attribute-item-title {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #0173b2;
}

.attribute-item-subtitle {
  font-size: 0.9rem;
  color: #5aaccf;
}

.attribute-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.attribute-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.attribute-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.attribute-4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.plus-membership-section {
  text-align: center;
  padding-top: 1rem;
}

.plus-membership-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus-membership-title {
  padding-bottom: 1rem;
}

.plus-membership-title-bottom-bar {
  margin-bottom: 1rem;
  height: 0.3rem;
  width: 75%;
  background: #cce3f0;
  border-radius: 20px;
}

.zero-fees-title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.zero-fees-description-container {
  display: flex;
  text-align: start;
  margin-bottom: 1.5rem;
}

.zero-fees-description-container i {
  font-size: 1.25rem;
  color: #80b9d8;
  padding: 0 1rem 0 0.5rem;
}

.zero-fees-description-text {
  font-size: 0.9rem;
}

.hospital-logo-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0px;
}

.hospital-logo-title {
  margin-bottom: 2rem;
}

.hospital-logo-figure-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.3rem;
  border-bottom: 0.5px solid #80b9d8;
  border-right: 0.5px solid #80b9d8;
}

.hospital-logo-figure {
  height: 5.1rem;
  width: 90%;
}

.hospital-logo-image {
  object-fit: contain;
}

.psri-hospital-figure-container {
  border-right: none;
}

.tree-hospital-figure-container {
  border-right: none;
}

.pratiksha-hospital-figure-container {
  border: none;
}

.birla-hospital-figure-container {
  border-bottom: none;
}

.more-hospital-text {
  font-size: 0.9rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.doc-consultation-container {
  padding-top: 1rem;
}

.doc-consultation-title {
  text-align: center;
  line-height: 1.8rem;
  font-size: 1.55rem;
  /* padding:0 1rem; */
}

.doc-consultation-image-container {
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.doc-consultation-figure {
  border-radius: 10px;
  height: 15rem;
}

.doc-consultation-img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.order-discount-figure {
  height: 18rem;
}

.test-included-section {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-included-section-title {
  font-size: 0.9rem;
  font-family: "Nexa-bold";
  text-align: center;
  margin-bottom: 1.5rem;
}

.tests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.hide-tests-container{
  display: none;
}


.test-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 48%;
  box-shadow: 3px -1px 9px 4px rgba(0, 0, 0, 0.05);
  margin:0.2rem;
}

 /* #vitamin-profile-container {
  margin-right: 0.65rem;
}

#thyroid-profile-container {
  margin: 0.65rem 0.65rem 0 0;
}

#liver-profile-container {
  margin-top: 0.65rem;
}  */
.test-figure {
  height: 3rem;
  margin: 1.25rem;
} 

.test-name {
  font-size: 1rem;
  padding: 0 0.5rem;
  text-align: center;
  line-height: 1.5rem;
}

.test-count {
  font-size: 0.9rem;
  margin: 1.25rem;
}

.toggle-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.toggle {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #cccccc;
  margin: 0.25rem;
}

.toggle-blue {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin: 0.25rem;
  background-color: #0173b2;
}

.reviews-main-container {
  padding: 0 1rem;
}

.reviews-title-container {
  padding: 0 0.75rem 1rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-title {
  font-size: 1.5rem;
}

.review-sub-container {
  padding: 0.75rem 0.75rem;
  box-shadow: 3px -1px 9px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 0.75rem;
}

.review-description {
  font-size: 0.9rem;
  font-family: "Nexa-Bold";
  line-height: 1.4rem;
}

.reviewer-details-container {
  display: flex;
}

.review-figure {
  height: 4rem;
  width: 4rem;
}

.review-image {
  background: white;
  border-radius: 50%;
}

.reviewer-name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.reviewer-name {
  font-size: 1rem;
}

.plan-user-indicator {
  background: #cce3f0;
  padding: 0.6rem 0.75rem;
  border-radius: 0.4rem;
  font-size: 0.65rem;
  color: #0173b2;
  font-family: "Nexa-Bold";
  letter-spacing: 0.05rem;
}

.faq-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.attribute-title-container {
  padding: 0.5rem 0;
  width: 90%;
}

.attribute-category{
  cursor: pointer;
}
.attribute-title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.attribute-description {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.accordion-item-header::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  border-radius: 50%;
  background: #e5f1f7;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0174b4;
  font-size: 0.65rem;
  transition: transform 0.3 s ease-in-out;
}

/* .accordion-item-header.active::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  border-radius: 50%;
  background: #e5f1f7;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0174b4;
  font-size: 0.65rem;
} */

.accordion-item-header.active::after {
  transform: rotate(180deg);
}

.accordion-item-body{
  display:none;
}

.accordion-item-header.active + .accordion-item-body{
  display:block;
}


#tvastra-plus-footer {
  background: #2a2d3e;
}

#tvastra-plus-footer-list li {
  font-size: 0.9rem;
}

.footer-logo {
  width: 10rem;
  margin-bottom: 2rem;
}

@media (min-width: 48rem) {
  .hero-section-text-container {
    align-items: start;
    padding: 0 2rem;
  }

  .hero-section-title {
    padding: 1.5rem 0;
    font-size: 2.1rem;
  }

  .hero-section-subtitle {
    font-size: 0.95rem;
  }

  .plans-section {
    height: 31rem;
  }

  .plans-section-heading-title {
    font-size: 1.55rem;
  }

  .plan-container {
    margin-bottom: 0.25rem;
    height: 30rem;
  }
  .plan-sub-container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90%;
    grid-template-rows: 15% 70% 34%;
    margin: auto;
    padding-top: 1.5rem;
    height: 25rem;
  }
  .plans-section-heading-subtitle {
    font-size: 0.95rem;
  }

  .all-plans-info {
    display: flex;
  }

  .plan-container-title {
    padding-bottom: 2rem;
    font-size: 1.3rem;
    grid-row: 1/2;
  }

  .plan-container-descrption-box {
    margin-bottom: 0;
    grid-row: 2/3;
    margin-top: 2rem;
    align-self: start;
  }

  .pricing-details-main-container {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .advanced-plan-pricing-main-container {
    align-self: end;
  }

  .pricing-details-container {
    margin: 0rem 0 1rem 0;
  }

  .plan-container-descrption {
    padding-bottom: 0.8rem;
    font-size: 0.9rem;
  }

  /* .basic-plan-description-box {
    margin-bottom: 6.5rem;
  } */

  .advanced-plan {
    border-right: 2px solid #a1cbe3;
    border-left: 2px solid #a1cbe3;
  }

  /* .advanced-plan-description-box {
    margin-bottom: 4rem;
  } */

  /* .comprehensive-plan-description-box {
    margin-bottom: 2rem;
  } */

  .ratings-section-description {
    width: 90%;
    font-size: 0.92rem;
    padding: 0 0 2rem 0;
    line-height: 1.35rem;
  }

  .star-rating-subcontainer {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .rating-bar-subcontainer {
    justify-content: flex-start;
  }

  .star-rating-title-container {
    align-self: center;
    justify-self: end;
    padding-right: 3.25rem;
  }

  .star-rating-title {
    font-size: 3rem;
  }

  .stars-container i {
    padding: 0.75rem 0 0.75rem 0;
  }

  .star-rating-container-description {
    padding-bottom: 0;
  }

  .rating-bar-container {
    width: 90%;
  }

  .rating-number-1 {
    margin-left: 0.13rem;
    margin-right: 0.6rem;
  }

  .rating-attribute-main-container {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    width: 100%;
    margin-top: 1rem;
  }

  .attribute-item-title {
    padding: 1rem 0.5rem;
  }

  .attribute-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .attribute-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .attribute-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .attribute-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .zero-fees-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .plus-membership-title {
    font-size: 1.2rem;
  }

  .plus-membership-title-bottom-bar {
    margin-bottom: 2rem;
    height: 0.35rem;
    width: 43%;
  }

  .zero-fees-info-container {
    margin-right: 1.25rem;
  }

  .zero-fees-title {
    font-size: 1.45rem;
    text-align: left;
  }

  .zero-fees-description-container {
    margin-bottom: 1.2rem;
  }

  .zero-fees-description-container i {
    padding-left: 0;
  }

  .zero-fees-description-text {
    line-height: 1.4rem;
  }

  .doc-consultation-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .doc-consultation-info-container {
    grid-column: 2/3;
  }

  .doc-consultation-title {
    font-size: 1.45rem;
  }

  .doc-consultation-image-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 1.25rem;
    height: 19rem;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  }

  .doc-consultation-figure {
    height: 19rem;
  }

  .doc-consultaion-description-text {
    padding-right: 0;
  }

  .order-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .order-info-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 1.25rem;
  }

  .order-image-container {
    grid-column: 2/3;
    margin-right: 0;
  }

  .test-title-container {
    width: 100%;
  }

  .test-included-section-title {
    text-align: left;
  }

  .tests-container {
    width: 100%;
  }

  .reviews-main-container {
    padding: 2rem;
  }

  .reviews-title-container {
    justify-content: flex-start;
    padding: 0 0 1rem 0;
  }

  .reviews-title {
    margin-right: 1rem;
  }

  .review-box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 0.65rem;
  }

  .faq-title {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .attribute-title {
    font-size: 1.16rem;
    line-height: 1.7rem;
  }

  .attribute-title-container {
    padding: 1rem 0;
  }

  .attribute-description {
    font-size: 0.9rem;
  }

  #tvastra-plus-footer {
    background: white;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  #doctor-profile-follow-us i {
    color: var(--dark-primary-blue);
    padding: 0 0 0 0.75rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 64rem) {
  .hero-section-text-container {
    align-items: start;
    padding: 0 6.25rem;
    top: 10rem;
  }

  .hero-section-cover-figure {
    height: 32rem;
  }

  .hero-section-cover-image {
    object-position: top;
  }

  .hero-section-title {
    padding: 1.5rem 0;
    font-size: 2.5rem;
    text-align: left;
  }

  .hero-section-subtitle {
    font-size: 1.1rem;
  }

  .plans-main-container {
    padding: 1rem 2rem;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
    top: -11rem;
    /* top: 37rem;
    left: 6.25rem;
    right: 6.25rem; */
  }

  .plans-section-heading-title {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2.15rem;
  }

  .plans-section-heading-subtitle {
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
  }

  .all-plans-info {
    display: flex;
  }

  .plan-container-title {
    font-size: 1.5rem;
    line-height: 0rem;
  }

  .plan-container-descrption-box{
      margin:0;
      width: 88%;
  }

  .plan-container-descrption {
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    padding-bottom: 0.5rem;
  }

  #rupee-sign {
    font-size: 1.5rem;
  }

  .price-info-text {
    font-size: 1.8rem;
  }

  .pricing-details-container {
    margin: 0 0 1.75rem 0;
  }

  .pricing-details-container h6 {
    font-size: 0.95rem;
  }

  .plan-details-text {
    padding-bottom: 1.5rem;
    font-size: 1rem;
  }

  /* .basic-plan-description-box {
    margin-bottom: 6.5rem;
    width: 85%;
  }

  .comprehensive-plan-description-box {
    width: 85%;
  } */

  .advanced-plan {
    border-right: 2px solid #a1cbe3;
    border-left: 2px solid #a1cbe3;
  }

  /* .advanced-plan-description-box {
    margin-bottom: 0.25rem;
    width: 75%;
  } */

  .plan-container {
    margin-bottom: 0.25rem;
    height: 36rem;
  }

  .plan-sub-container {
    grid-template-rows: 15% 64% 29%;
    height: 33rem;
    width: 95%;
  }
  

  .plans-section {
    height: 47rem;
  }

  .ratings-section-title {
    font-size: 2.2rem;
    padding-bottom: 2.5rem;
  }

  .ratings-section-description {
    padding: 0 0 3rem 0;
    width: 60%;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
  }

  .star-rating-subcontainer {
    display: grid;
    grid-template-columns: 43% 57%;
    width: 100%;
  }

  .star-rating-title-container {
    align-self: center;
    justify-self: end;
    padding-right: 7rem;
  }

  .rating-bar-container {
    width: 72%;
  }

  .rating-bar-subcontainer {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .rating-bar-number {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .rating-attribute-main-container {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    width: 65%;
    margin-top: 2rem;
  }

  .attribute-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .attribute-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .attribute-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .attribute-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .star-rating-title {
    color: #0173b2;
    font-size: 3.5rem;
  }

  .stars-container i {
    font-size: 0.7rem;
    padding: 2rem 0 1.25rem 0;
  }
  .star-rating-container-description {
    font-size: 1.1rem;
  }

  .gray-bar {
    height: 1.25rem;
    width: 45%;
  }

  .blue-bar {
    height: 1.25rem;
    /* width: 45%; */
  }

  .attribute-item-container i {
    font-size: 2rem;
  }

  .attribute-item-title {
    font-size: 1.5rem;
    padding: 1.25rem 0.5rem;
  }

  .attribute-item-subtitle {
    font-size: 1.1rem;
    text-align: center;
  }

  .plus-membership-title {
    font-size: 1.1rem;
  }

  .plus-membership-title-bottom-bar {
    width: 20%;
  }

  .zero-fees-title {
    font-size: 2.1rem;
    text-align: left;
  }

  .zero-fees-section {
    display: grid;
    grid-template-columns: 69% 29%;
  }

  .zero-fees-info-container {
    margin-right: 1.25rem;
  }

  .zero-fees-description-container {
    margin-bottom: 1.2rem;
  }

  .zero-fees-description-container i {
    padding-left: 0;
  }

  .zero-fees-description-text {
    line-height: 1.5rem;
    font-size: 1.1rem;
  }

  .more-hospital-text {
    text-align: center;
  }

  .hospital-logo-main-container {
    justify-self: end;
  }
  .hospital-logo-container {
    padding: 0 2rem;
  }

  .doc-consultation-container {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .doc-consultation-info-container {
    margin-left: 2rem;
  }
  .doc-consultation-title {
    font-size: 2.1rem;
    text-align: left;
  }

  .doc-consultaion-description-text {
    padding-right: 0;
  }

  .doc-consultation-image-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 1.25rem;
    width: 81%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  }

  .doc-consultation-figure {
    width: 100%;
  }

  .order-container {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .order-info-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 1.25rem;
  }

  .order-image-container {
    grid-column: 2/3;
    margin-right: 0;
    justify-self: end;
  }

  .health-checkup-info-container {
    margin-left: 2rem;
  }

  .test-title-container {
    width: 100%;
  }

  .test-included-section-title {
    text-align: left;
    font-size: 1.1rem;
  }

  .tests-container {
    width: 100%;
    justify-content: space-between;
  }

  .test-type-container {
    width: 24.5%;
    margin: 0;
    align-items: start;
    height: 14rem;
  }

  #vitamin-profile-container {
    margin-right: 0.5rem;
}

  #thyroid-profile-container {
    margin: 0 0.5rem 0 0.5rem;
}

#liver-profile-container {
  margin-top: 0;
}

  .test-figure {
    height: 3.25rem;
    margin: 0 0 1.5rem 2rem;
  }

  .test-img {
    width: auto;
  }

  .test-name {
    font-size: 1.15rem;
    padding: 0 2rem;
  }

  .test-count {
    font-size: 1.1rem;
    margin: 1.5rem 0 0 2rem;
  }

  .reviews-main-container {
    padding: 2rem 6.25rem;
  }

  .reviews-title-container {
    justify-content: flex-start;
    padding: 0 0 2rem 0;
  }

  .reviews-title {
    margin-right: 1rem;
    font-size: 2.1rem;
  }

  .review-box {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    height: 10rem;
    column-gap: 0.65rem;
  }

  .review-sub-container {
    height: 15rem;
    display: grid;
    grid-template-rows: 67% 28%;
  }

  .review-description {
    font-size: 1rem;
    line-height: 1.75rem;
    color: rgb(44, 44, 44);
    /* font-family: "Nexa-Light"; */
  }

  .reviewer-name {
    font-size: 1.15rem;
  }

  .plan-user-indicator {
    font-size: 0.85rem;
  }

  .faq-main-container {
    margin-top: 2rem;
  }

  .faq-title {
    font-size: 2.1rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .attribute-title {
    font-size: 1.25rem;
    line-height: 2.75rem;
  }

  .attribute-title-container {
    padding: 0.75rem 0;
  }

  .attribute-description {
    font-size: 1.1rem;
    line-height: 1.75rem;
  }

  #tvastra-plus-footer {
    background: white;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  #doctor-profile-follow-us i {
    color: var(--dark-primary-blue);
    padding: 0 0 0 0.75rem;
    font-size: 1.25rem;
  }
}
