.hero-section-cover-figure {
  height: 25rem;
}

.hero-section-cover-image {
  object-fit: cover;
  object-position: left;
}

.tvastra-plus-hero-section {
  position: relative;
}

.hero-section-text-container {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.hero-section-title {
  text-align: center;
  padding: 1rem 0;
  line-height: 1.75rem;
}

.hero-section-subtitle {
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.plans-section {
  background: linear-gradient(to bottom, rgb(196, 223, 238), transparent);
  height: 91rem;
}

.plans-main-container {
  background: white;
  padding: 1rem 0.75rem;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 18rem;
  left: 1rem;
  right: 1rem;
}

.plans-section-heading {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
}

.plans-section-heading-title {
  padding-bottom: 1rem;
  line-height: 1.75rem;
}

.plans-section-heading-subtitle {
  /* padding-bottom: 1.5rem; */
  font-size: 0.9rem;
}

.plan-container {
  width: 100%;
  margin-bottom: 1.5rem;
}

.plan-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding-top: 1.5rem;
}

.plan-container-title {
  text-align: center;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dbdbdb;
}

.plan-container-descrption-box {
  text-align: center;
  margin: 1.5rem 0;
  /* padding-bottom: 3rem; */
}

.plan-container-descrption {
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
}

.pricing-details-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.price-info-text {
  padding: 0 0.25rem;
}

#rupee-sign {
  color: black;
  font-size: 1.2rem;
}

.plan-details-text {
  padding-bottom: 1.5rem;
  color: #2c8dc7;
}

.advanced-plan {
  background: linear-gradient(to bottom, rgb(185, 217, 234), transparent);
}

.ratings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ratings-section-title {
    padding-top:1rem;
  padding-bottom: 2rem;
}

.ratings-section-description {
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

.star-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.star-rating-title {
  color: #0173b2;
  font-size: 2.75rem;
}

.stars-container i {
  color: #0173b2;
  font-size: 0.65rem;
  padding: 0.5rem 0 0.7rem 0;
}
.star-rating-container-description {
  color: #0173b2;
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}

.rating-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  width: 100%;
}

.rating-bar-number {
  color: #0173b2;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.gray-bar {
  background: #cccccc;
  height: 0.9rem;
  width: 55%;
  border-radius: 20px;
}

.rating-bar-subcontainer {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.blue-bar {
  background: #0173b2;
  height: 0.9rem;
  border-radius: 20px;
}
.blue-bar-rating-5 {
  width: 75%;
}
.blue-bar-rating-4 {
  width: 33%;
}
.blue-bar-rating-3 {
  width: 33%;
}
.blue-bar-rating-2 {
  width: 20%;
}
.blue-bar-rating-1 {
  width: 10%;
}

.rating-attribute-main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  /* align-items: center; */
}

.attribute-item-container {
  padding: 1rem 0.8rem;
}

.attribute-item-container i {
  font-size: 2rem;
  color: #0173b2;
}

.attribute-item-title {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #0173b2;
}

.attribute-item-subtitle {
  font-size: 0.9rem;
  color: #5aaccf;
}

.attribute-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.attribute-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.attribute-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.attribute-4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.plus-membership-section {
  text-align: center;
}

.plus-membership-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus-membership-title {
  padding-bottom: 1rem;
}

.plus-membership-title-bottom-bar {
  margin-bottom: 1rem;
  height: 0.3rem;
  width: 75%;
  background: #cce3f0;
  border-radius: 20px;
}

.zero-fees-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.zero-fees-description-container {
  display: flex;
  text-align: start;
  margin-bottom: 1.5rem;
}

.zero-fees-description-container i {
  font-size: 1.25rem;
  color: #80b9d8;
  padding: 0 1rem;
}

.zero-fees-description-text {
  font-size: 0.9rem;
}

.hospital-logo-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap:0px;
}

.hospital-logo-title {
  margin-bottom: 2rem;
}

.hospital-logo-figure-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.75rem 0.3rem;
    border-bottom: 0.5px solid #80b9d8;
    border-right: 0.5px solid #80b9d8;
}

.hospital-logo-figure{
    height: 5.1rem;
    width: 90%;
}

.hospital-logo-image {
  object-fit: contain;
}

.psri-hospital-figure-container {
  border-right: none;
}

.tree-hospital-figure-container {
  border-right: none;
}

.pratiksha-hospital-figure-container {
  border: none;
}

.birla-hospital-figure-container {
  border-bottom: none;
}


.more-hospital-text{
    font-size: 0.9rem;
    padding:1.5rem;
}